<div class="container-fluid" *ngIf="!showForm">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><i class="fa fa-address-card" aria-hidden="true"></i> Edit User Info Form</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row" *ngIf="errorAlertMessage">
    <alert type="danger" dismissible="true"><strong>Error!</strong> {{errorAlertMessage}}</alert>
  </div>
  <div class="row vertical-align-box">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">Please fill in the form</div>
          <div class="panel-body">
        <user-form *ngIf="editForm" [formSettings]="formSettings" [countryCode]="countryCode" [_userForm]="editForm" (notify)="onNotify($event)"></user-form>

          </div>
      </div>
    </div>
  </div>
</div>
