<div class="container-fluid" *ngIf="person1 && person2">
<div class="row btn-toolbar toolbar-heading" >
  <div class="btn-group">
    <button type="button" class="btn btn-danger" (click)="cancelMerge()">
      <i class="fa fa-times"></i> Cancel merge
    </button>
    <button class="btn btn-outline btn-success" (click)="mergePersons(person1, person2)">
      <i class="fa fa-sign-in"></i> Merge {{person1.firstName + ' ' + person1.lastName}} [id: {{person1.id}}] into {{person2.firstName + ' ' + person2.lastName}} [id: {{person2.id}}]
    </button>
    <button class="btn btn-outline btn-success" (click)="mergePersons(person2, person1)">
      <i class="fa fa-sign-in"></i> Merge {{person2.firstName + ' ' + person2.lastName}} [id: {{person2.id}}] into {{person1.firstName + ' ' + person1.lastName}} [id: {{person1.id}}]
    </button>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <h2 class="page-header text-success">
      Person: [ Id : {{person1.id}} ] {{person1.firstName}} {{person1.lastName}}
    </h2>
    <p>Place of birth: <strong>{{person1.placeOfBirth}}</strong></p>
    <p>Sources last names: <strong>{{person1.sourcesLastNames}}</strong></p>
    <p>Sources first names: <strong>{{person1.sourcesFirstNames}}</strong></p>
    Note:
    <div class="well">{{person1.note}}</div>
    <button class="btn btn-primary" (click)="showPersonsMle(person1)">Show persons muster list entries</button>
  </div>
  <div class="col-lg-6">
    <h2 class="page-header text-info">
      Person: [ Id : {{person2.id}} ] {{person2.firstName}} {{person2.lastName}}
    </h2>
    <p>Place of birth: <strong>{{person2.placeOfBirth}}</strong></p>
    <p>Sources last names: <strong>{{person2.sourcesLastNames}}</strong></p>
    <p>Sources first names: <strong>{{person2.sourcesFirstNames}}</strong></p>
    Note:
    <div class="well">{{person2.note}}</div>
    <button class="btn btn-primary" (click)="showPersonsMle(person2)">Show persons muster list entries</button>

  </div>
  <!-- Person info-->
  <div class="row">
    <div class="col-lg-6">

    </div>
    <div class="col-lg-6">

    </div>
  </div>
  <!-- ./ Person info -->

  <!-- Muster List Entries Table -->
  <div class="row">
    <div class="col-lg-12">
      <br/>
      <table class="table table-condensed table-bordered table-striped table-muster-list-entries">
        <thead class="thead-inverse">
        <tr>
          <th>Muster list [yyyy/m]</th>
          <th>#</th>
          <th>Person</th>
          <th>Rank</th>
          <th>Age</th>
          <th>Places</th>
          <th>Religion</th>
          <th>Profession</th>
          <th>Married</th>
          <th>Service record</th>
        </tr>
        </thead>
        <tbody *ngIf="pagedResult">
        <tr
          *ngFor="let mle of pagedResult.content | paginate: {id: 'custom', itemsPerPage: pagedResult.size, currentPage: pageNumber, totalItems: pagedResult.totalElements}"
          [class.success] = "mle.person.id == person1.id" [class.info] = 'mle.person.id == person2.id'>
          <td>{{mle.year}}/{{mle.month}}</td>
          <td>{{mle.listNumber}}</td>
          <td data-title="'Person'">{{mle.firstName}} {{mle.lastName}} von {{mle.person.placeOfBirth}}</td>
          <td data-title="'Rank'">{{mle.rank.code}}</td>
          <td data-title="'Age'">{{mle.age}}</td>
          <td data-title="'Places'">{{mle.location}} / {{mle.houseNumber}}</td>
          <td data-title="'Religion'">{{mle.religion?.code}}</td>
          <td data-title="'Profession'">{{mle.profession?.code}}</td>
          <td data-title="'Married'">{{mle.maritalStatus}}</td>
          <td data-title="'Service record'">
            <div *ngFor="let serviceRecord of mle.serviceRecords">
              <div class="col-lg-8">{{serviceRecord?.description}}</div>
              <div class="col-lg-1">{{serviceRecord?.durationYears}}</div>
              <div class="col-lg-1">{{serviceRecord?.durationMonths}}</div>
              <div class="col-lg-1">{{serviceRecord?.durationDays}}</div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- ./Muster List Entries Table -->

  <!-- Table pagination -->
  <div class="row form-inline">
    <app-pagination-control *ngIf="pagedResult"
                            (submitChangeSize)="changeSize($event)"
                            (submitPageChange)="search($event)"
                            [firstRecord]="firstRecord()"
                            [lastRecord]="lastRecord()"
                            [numOfRecords]="pagedResult?.totalElements"
                            [pageNumber]="pageNumber">
    </app-pagination-control>
  </div>
</div>
</div>

<app-confirm-merge-modal></app-confirm-merge-modal>
<app-person-mle-modal></app-person-mle-modal>
