<ul class="nav navbar-top-links navbar-right">
    <li>
        <a ng-click="app.changeLang('en')">ENGLISH</a>
    </li>
    <li>
        <a ng-click="app.changeLang('hr')">CROATIAN</a>
    </li>  
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a ui-sref="app.profile-view"><i class="fa fa-user fa-fw"></i> User Profile [{{app.userDisplayName}}]</a></li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
            <li class="divider"></li>
            <li><a href ng-click="app.signOut()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>

