<!-- Content Wrapper. Contains page content -->
<div>
  <br/>
  <div class="row">
    <stats number="6" comments="New comments!" colour="primary" type="comments" goto="app.home"></stats>
    <stats number="12" comments="New tasks!" colour="primary" type="user" goto="app.home"></stats>
    <stats number="18" comments="New orders!" colour="yellow" type="shopping-cart" goto="app.home"></stats>
    <stats number="24" comments="Support tickets!" colour="red" type="support" goto="app.home"></stats>

  </div>

  <div class="row">
    <div class="jumbotron">
      <div class="container">
        <h2>MILITARY LIFE AND WARRIOR IMAGES</h2>
        <p> IN THE CROATIAN BORDER TERRITORY FROM 16th CENTURY TO 1918.</p>
        <p><a class="btn btn-primary btn-md" href="http://www.isp.hr/en/program-znanstvenog-rada/vojnicki-zivot/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          AppConfig params
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
              <thead>
              <tr>
                <th>Param key</th>
                <th>param value</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="appConfig in main.appConfigData">
                <td>{{appConfig.key}}</td>
                <td>{{appConfig.value}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
      <!-- /.col-lg-6 -->
      <div class="col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Api Config Data
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Api Config param name</th>
                <th>Api Config param value</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>Api Base Url</td>
                <td>{{main.apiConfigData.apiBaseUrl}}</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Api Version</td>
                <td>{{main.apiConfigData.apiVersion}}</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Load extra app config params</td>
                <td>{{main.apiConfigData.loadConfiguration}}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
    </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </section>

</div><!-- /.content-wrapper -->
