<div class="modal fade" bsModal #mleModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="confirmModal" aria-hidden="true">

  <div class="modal-dialog modal-lg" *ngIf="person && pagedResult">
    <div class="modal-content">
      <div class="modal-header">
        <h2>{{person.firstName + ' ' + person.lastName}} [id: {{person.id}}]</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <br/>
            <table class="table table-condensed table-bordered table-striped table-muster-list-entries">
              <thead class="thead-inverse">
              <tr>
                <th>Muster list [yyyy/m]</th>
                <th>#</th>
                <th>Person</th>
                <th>Rank</th>
                <th>Age</th>
                <th>Places</th>
                <th>Religion</th>
                <th>Profession</th>
                <th>Married</th>
                <th>Service record</th>
              </tr>
              </thead>
              <tbody *ngIf="pagedResult">
              <tr
                *ngFor="let mle of pagedResult.content | paginate: {id: 'custom', itemsPerPage: pagedResult.size, currentPage: pageNumber, totalItems: pagedResult.totalElements}">
                <td>{{mle.year}}/{{mle.month}}</td>
                <td>{{mle.listNumber}}</td>
                <td data-title="'Person'">{{mle.firstName}} {{mle.lastName}} von {{mle.person.placeOfBirth}}</td>
                <td data-title="'Rank'">{{mle.rank.code}}</td>
                <td data-title="'Age'">{{mle.age}}</td>
                <td data-title="'Places'">{{mle.location}} / {{mle.houseNumber}}</td>
                <td data-title="'Religion'">{{mle.religion?.code}}</td>
                <td data-title="'Profession'">{{mle.profession?.code}}</td>
                <td data-title="'Married'">{{mle.maritalStatus}}</td>
                <td data-title="'Service record'">
                  <div *ngFor="let serviceRecord of mle.serviceRecords">
                    <div class="col-lg-8">{{serviceRecord?.description}}</div>
                    <div class="col-lg-1">{{serviceRecord?.durationYears}}</div>
                    <div class="col-lg-1">{{serviceRecord?.durationMonths}}</div>
                    <div class="col-lg-1">{{serviceRecord?.durationDays}}</div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- ./Muster List Entries Table -->

        <!-- Table pagination -->
        <div class="row form-inline">
          <app-pagination-control *ngIf="pagedResult"
                                  (submitChangeSize)="changeSize($event)"
                                  (submitPageChange)="search($event)"
                                  [firstRecord]="firstRecord()"
                                  [lastRecord]="lastRecord()"
                                  [numOfRecords]="pagedResult?.totalElements"
                                  [pageNumber]="pageNumber">
          </app-pagination-control>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="hide()">
          <i class="fa fa-times"></i> Close
        </button>
      </div>
    </div>
  </div>
</div>
