footer {
  padding: 10px 15px;
  background-color: #838383;
  z-index: 100;
  color: whitesmoke;
  border-radius: 7px;
}

@media (min-width: 768px){
  footer {
    text-align: start;
    position: fixed;
    bottom: 10px;
    left: 5px;
    width: 240px;
    border-radius: 7px;
  }

}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
