<footer>
  <small>
Rest: v{{restBuildVersion}} @{{restBuildTime | amDateFormat: 'DD-MM-YYYY HH:mm'}}
<br>
Client: v{{buildVersion}} @{{buildDate | amDateFormat: 'DD-MM-YYYY HH:mm'}}
    </small>
</footer>
