<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Child record [{{childModalCtl.child.id}}]</h3>
  </div>
  <form class="ng-scope form-horizontal" name="childForm" id="childForm">
    <div class="modal-body">
      <div class="container-fluid">
        <!-- name -->
        <div class = "form-group col-xs-6 " ng-class="{'has-error' : (childForm.chname.$invalid && !childForm.chname.$pristine)}">
          <label class=" control-label ng-binding" for="chname">Child name:</label>
          <input class=" form-control" type="text" id="chname" name="chname" 
              ng-model="childModalCtl.child.name"
              ng-maxlength="40"
              required />
          <p class="help-block" ng-show="childForm.chname.$error.required && !childForm.chname.$pristine">Child name may not left empty.</p>
          <p class="help-block" ng-show="childForm.chname.$error.maxlength && !childForm.chname.$pristine">Child name may not be more than 40 characters long.</p>
        </div>

        <!-- age -->
        <div class = "form-group col-xs-6 " ng-class="{'has-error' : (childForm.age.$invalid && !childForm.age.$pristine)}">
          <label class=" control-label ng-binding" for="chname">Child age:</label>
          <input class=" form-control" type="number" id="age" name="age" 
              ng-model="childModalCtl.child.age"
              required />
          <p class="help-block" ng-show="childForm.age.$error.required && !childForm.age.$pristine">Child age may not left empty.</p>
          <p class="help-block" ng-show="childForm.chname.$error.maxlength && !childForm.chname.$pristine">Child name may not be more than 40 characters long.</p>
        </div>

        <!-- gender -->
        <div class = "form-group col-xs-6 form-modal" ng-class="{'has-error' : (childForm.gender.$invalid && !childForm.gender.$pristine) || DeviceStatusModalCtl.serverValidationErrors.action}">
            <label class=" control-label ng-binding" for="action">Gender:</label>
            <select class="form-control" id="gender" name="gender"
                    data-ng-options="gender for gender in childModalCtl.childGender"
                    ng-model="childModalCtl.child.gender"   required>
              <option value="">Choose child gender...</option>
            </select>
            <p class="help-block" ng-show="childForm.gender.$error.required && !childForm.gender.$pristine">Please choose child gender.</p>
        </div>

      </div>
    </div>
    <!-- button controls -->
    <div class="modal-footer">
      <div class="row">
        <button class="btn btn-default" type="button" ng-click="childModalCtl.close()"> Close</button>
        <button class="btn btn-primary" type="button" ng-click="childModalCtl.save()"
          ng-disabled="childForm.name.$invalid
          || childForm.age.$invalid
          || childForm.gender.$invalid">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
        </button>
      </div>
    </div>
  </form>
</div>    