<div class="container-fluid" [hidden]="showForm">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h4 class="alert alert-success">Registration successfull</h4>
        <p><strong>Your registration has been successfully submitted!</strong>
          In the next few days You will receive an email from the site administrator with further instructions on how to
          proceed together with Your credentials, necessary to sign in.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>New User Data</h3>
    </div>
  </div>
  <app-user-details *ngIf="registredUser" [user]="registredUser"></app-user-details>
</div>

<div class="container-fluid" [class.hidden]="!showForm">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header"><i class="fa fa-address-card" aria-hidden="true"></i> New User Registration Form</h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row" *ngIf="errorAlertMessage">
    <alert type="danger" dismissible="true"><strong>Error!</strong> {{errorAlertMessage | translate}}</alert>
  </div>
  <div class="row vertical-align-box">
    <div class="col-lg-8">
      <div class="panel panel-default">
        <div class="panel-heading">Please fill in the registration form</div>
        <div class="panel-body">
          <user-form [_userForm]="userForm" [formSettings]="formSettings"
                      (notify)="onNotify($event)"></user-form>
        </div>
        <div class="panel-footer">
            By creating an account, you agree to our <a (click)="showTermsOfService()">Terms of Services</a>.
      </div>
    </div>
  </div>

  </div>
</div>
<!-- /.container-fluid -->
<terms-of-service></terms-of-service>
