<!-- Modal -->
<div class="modal fade" bsModal #tosModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="tosModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">TERMS OF SERVICE AGREEMENT</h3>
      </div>
      <div class="modal-body">
      <p>
        This Terms of Service Agreement (the “Agreement”) is an agreement between you and Stormpath, Inc. (“Stormpath”) and governs your use of the software (the “Software”).
      </p>
      <p>
      STORMPATH IS WILLING TO GRANT YOU A LICENSE TO USE THE SOFTWARE ONLY UPON THE CONDITION THAT YOU ACCEPT ALL OF THE TERMS CONTAINED IN THIS AGREEMENT. IF YOU DO NOT ACCEPT ALL OF THE TERMS CONTAINED IN THIS AGREEMENT, THEN STORMPATH IS NOT WILLING TO LICENSE THE SOFTWARE TO YOU AND YOU MAY NOT DOWNLOAD, INSTALL OR USE THE SOFTWARE.BY DOWNLOADING, INSTALLING AND/OR USING THE SOFTWARE, YOU ARE INDICATING YOUR ACCEPTANCE OF THE TERMS AND CONDITIONS CONTAINED IN THIS AGREEMENT.
      </p>
      <p>
      if you ARE agreeING to these terms on behalf of a COMPANY, you represent and warrant that you have authority to bind that COMPANY to this Agreement, and your agreement to these terms will be treated as the agreement of the COMPANY.  in that event, “you” and “your” WILL refer to that COMPANY.
      </p>
      <p>
      1. License.  Subject to your compliance with the terms and conditions of this Agreement, Stormpath grants you a limited, non-exclusive, nontransferable, revocable license during the evaluation termto use the Software, in object code form, solely for the purposes of internally testing and evaluation the Software, and not for general production use.  Stormpath reserves all rights and licenses not expressly granted to you under this Agreement.
      </p>
      <p>
      2. Restrictions on Use.  You may not use, copy, modify or transfer the Software (including the documentation), or any copy thereof, in whole or in part, except as expressly provided in this Agreement.  You may not rent, lease, loan, resell, license, sublicense, or otherwise distribute the Software or any portion thereof, or make the Software available to multiple users through any means (for instance, by uploading the Software to a network or file-sharing service or through any hosting, application services provider, service bureau or any other type of services). You may not reverse engineer, decompile, disassemble or otherwise attempt to determine source codes or protocols from the Software.
      </p>
      <p>
      3. Ownership.  Stormpath retains ownership of the Software, including all intellectual property rights therein.  The Software is protected by U.S. copyright law and international treaties. You may not delete or in any manner alter the copyright, trademark, and other proprietary rights notices or markings appearing on the Software as delivered to you.
      </p>
      <p>
      4. Term.  This Agreement shall continue for a period of six (6) months from the date of download/installation, unless sooner terminated as provided below.  You may terminate this Agreement at any time prior to its expiration by deleting and uninstalling all copies of the Software in your possession or control.  This Agreement will automatically and immediately terminate without notice if you breach any term of this Agreement.  Upon expiration or termination, you must promptly delete and destroy (and permanently erase) all copies of the Software in your possession or control.
      </p>
      <p>
      5. No Warranty.  The Software provided “AS IS” without warranty of any kind, either express or implied.  You agree that you are evaluating the Software completely at your own risk.
      </p>
      <p>
      6. Limitation of Liability.  IN NO EVENT WILL STORMPATH BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OR OTHER RELIEF ARISING OUT OF YOUR USE OR INABILITY TO USE THE SOFTWARE INCLUDING, BY WAY OF ILLUSTRATION AND NOT LIMITATION, LOST PROFITS, LOST BUSINESS OR LOST OPPORTUNITY, OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF SUCH USE OR INABILITY TO USE THE SOFTWARE, EVEN IF STORMPATH HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES AND WHETHER OR NOT SUCH DAMAGES ARE FORESEEABLE, OR FOR ANY CLAIM BY ANY THIRD PARTY.
      </p>
      <p>
      7. Export Law.  You agree to comply fully with all relevant export laws and regulations of the United States to ensure that neither the Software, nor any direct product thereof are: (a) exported or re-exported directly or indirectly in violation of the export laws; or (b) used for any purposes prohibited by the export laws.
      </p>
      <p>
      8. General.  This Agreement will be governed by and construed in accordance with the laws of the State of Washington, without regard to or application of conflicts of law rules or principles.  You may not assign or transfer this Agreement or any rights granted hereunder, by operation of law or otherwise, without our prior written consent, and any attempt by you to do so, without such consent, will be void and of no effect. Except as expressly set forth in this Agreement, the exercise by either party of any of its remedies under this Agreement will be without prejudice to its other remedies under this Agreement or otherwise.  The failure by a party to enforce any provision of this Agreement will not constitute a waiver of future enforcement of that or any other provision. Any waiver, modification or amendment of any provision of this Agreement will be effective only if in writing and signed by authorized representatives of both parties. If any provision of this Agreement is held to be unenforceable or invalid, that provision will be enforced to the maximum extent possible and the other provisions will remain in full force and effect. This Agreement is the complete and exclusive understanding and agreement between the parties regarding its subject matter, and supersedes all proposals, understandings or communications between the parties, oral or written, regarding its subject matter.
      </p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" (click)="hide()">OK</button>
    </div>
  </div>
</div>
</div>
