<div class="row">
  <div class="col-md-8">
    <table class="table">
      <tr>
        <td class="text-right">Username:</td>
        <td><strong>{{user.username}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">First name:</td>
        <td><strong>{{user.firstName}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Last name:</td>
        <td><strong>{{user.lastName}}</strong></td>
      </tr>
      <tr>
        <td class="text-right" >Address:</td>
        <td><strong>{{user.address}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Postal code:</td>
        <td><strong>{{user.postalCode}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Place:</td>
        <td><strong>{{user.place}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Country:</td>
        <td><strong>{{user.countryName}} ({{user.countryCode}})</strong></td>
      </tr>
      <tr>
        <td class="text-right">Email address:</td>
        <td><strong>{{user.email}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Mobile:</td>
        <td><strong>{{user.mobile}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Phone:</td>
        <td><strong>{{user.phone}}</strong></td>
      </tr>
      <tr>
        <td class="text-right"></td>
        <td></td>
      </tr>
    </table>
    <br/>
    <br/>
  </div>
</div>
