<!-- Modal -->
<div class="modal fade" bsModal #formModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form *ngIf="professionForm" [formGroup]="professionForm">

      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">{{profession != null ? 'Edit profession' : 'New profession'}}</h3>
        </div>
        <div class="modal-body">
          <fieldset class="form-group" [class.has-error]="!professionForm.controls['name'].valid && professionForm.controls['name'].touched">
            <label for="name" class="control-label">Name:</label>
            <input id="name" type="text" formControlName="name" class="form-control">
            <div *ngIf="professionForm.controls['name'].hasError('required') && professionForm.controls['name'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
            <div *ngIf="professionForm.controls['name'].hasError('maxLength') && professionForm.controls['name'].touched" class="alert alert-danger">{{ 'error.field.maxLength255' | translate }}</div>
            <field-validation-error *ngIf="serverErrors && serverErrors.get('name')" [fieldErrors]="serverErrors.get('name')" ></field-validation-error>
          </fieldset>
          <fieldset class="form-group" [class.has-error]="!professionForm.controls['code'].valid && professionForm.controls['code'].touched">
            <label for="professionCode" class="control-label">Profession code(unique):</label>
            <input id="professionCode" type="text" formControlName="code" class="form-control">
            <div *ngIf="professionForm.controls['code'].hasError('required') && professionForm.controls['code'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
            <div *ngIf="professionForm.controls['code'].hasError('maxLength') && professionForm.controls['code'].touched" class="alert alert-danger">{{ 'error.field.maxLength40' | translate }}</div>
            <field-validation-error *ngIf="serverErrors && serverErrors.get('code')" [fieldErrors]="serverErrors.get('code')" ></field-validation-error>
          </fieldset>

          <!-- profession audit data -->
          <div class="row">
            <fieldset class="form-group col-sm-12" [disabled]="true" *ngIf="profession">
              <div class="row">
                <div class="col-sm-6">
                  <label for="modifiedBy">
                    Last modified by:
                  </label>
                  <input id="modifiedBy" type="text" formControlName="modifiedBy" class="form-control">
                </div>
                <div class="col-sm-6">
                  <label for="modifiedAt" class="">
                    Last modified date:
                  </label>
                  <input id="modifiedAt" type="datetime" class="form-control" [value]="professionForm.controls['modifiedDate'].value | amDateFormat: 'LL'">
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group col-sm-12" [disabled]="true" *ngIf="profession">
              <div class="row">
                <div class="col-sm-6">
                  <label for="createdBy">
                    Created by:
                  </label>
                  <input id="createdBy" type="text" formControlName="createdBy" class="form-control">
                </div>
                <div class="col-sm-6">
                  <label for="createdAt" class="">
                    Created at:
                  </label>
                  <input id="createdAt" type="text" class="form-control" [value]="professionForm.controls['createdDate'].value | amDateFormat: 'LL'">
                </div>
              </div>
            </fieldset>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-danger" type="button" (click)="hide()">Cancel</button>
          <button class="btn btn-primary" type="button" (click)="submit()" [disabled] = "!professionForm.valid || btnDisabled">
            <i [class]="profession != null ? 'fa fa-pencil' : 'fa fa-floppy' "></i>{{profession != null ? ' Edit' : ' Save'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
