<!-- Modal -->
<div class="modal fade" bsModal #childForm="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="childForm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="childModalTitle">Please enter child data</h4>
      </div>
      <div *ngIf="cform" class="modal-body" >
        <form role="form" [formGroup]="cform">
          <fieldset>

            <div class="form-group" [ngClass]="{'has-error':!cform.controls['cname'].valid && cform.controls['cname'].touched}">
              <label>Child name (*):</label>
              <input class="form-control" id="childName" placeholder="Child name ..." type="text" formControlName="cname" value="{{cform.value.cname}}">
              <div *ngIf="cform.controls['cname'].hasError('required') && cform.controls['cname'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="cform.controls['cname'].hasError('maxLength') && cform.controls['cname'].touched" class="alert alert-danger">{{ 'error.field.childName.maxLength' | translate }}</div>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!cform.controls['age'].valid && cform.controls['age'].touched}">
              <label>Age (*):</label>
              <input class="form-control" id="age" placeholder="Child age" type="number" formControlName="age" value="{{cform.value.age}}">
              <div *ngIf="cform.controls['age'].hasError('required') && cform.controls['age'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="cform.controls['age'].hasError('positiveNumber') && cform.controls['age'].touched" class="alert alert-danger">{{ 'error.field.negativeValue' | translate }}</div>      
            </div>

            <div class="form-group" [ngClass]="{'has-error':!cform.controls['gender'].valid}">
              <label>Gender (*):</label>
                <select class="form-control" id="gender" formControlName="gender">
                  <option *ngFor="let gender of genderList" value="{{gender}}" [selected]="gender == cform?.value.gender">{{gender}}</option>
                </select>
            </div>

          </fieldset>  
        </form>  
      </div>
      <div *ngIf="cform" class="modal-footer">
        <button type="button" [disabled]="!cform.valid" class="btn btn-primary" (click)="submit()" >Save</button>
        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
      </div>
    </div>
  </div>
</div>
