<div class="row" >
  <div class="col-lg-12">
    <h1 *ngIf="musterList">{{musterList.parentUnitName}}, {{musterList.year}}, {{musterList.month}}, Feldstand / Verwaltung</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row" *ngIf="errorAlertMessage">
  <alert type="danger" dismissible="true"><strong>Error!</strong> {{errorAlertMessage | translate}}</alert>
</div>
<div class="row" *ngIf="entryForm">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Muster List Entry Details</div>
      <div class="panel-body">
        <form role="form" [formGroup]="entryForm">
          <fieldset>
            <div class="row">
              <div class="col-lg-5">
                <div class="panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Linked person: [{{linkedPerson?.id}}] {{linkedPerson?.firstName}} {{linkedPerson?.lastName}} / {{linkedPerson?.placeOfBirth}}</h3>
                  </div>
                  <div class="panel-body">
                      <button type="button" class="btn btn-default" (click)="linkPerson()" >
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Link person with this entry
                      </button>
                  </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['listNumber'].valid && entryForm.controls['listNumber'].touched}">
                  <label># (*):</label>
                  <input class="form-control" id="listNumber" placeholder="Entry number" type="number" formControlName="listNumber" value="{{entryForm.value.listNumber}}">
                  <div *ngIf="entryForm.controls['listNumber'].hasError('required') && entryForm.controls['listNumber'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                  <div *ngIf="entryForm.controls['listNumber'].hasError('positiveNumber') && entryForm.controls['listNumber'].touched" class="alert alert-danger">{{ 'error.field.negativeValue' | translate }}</div>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('listNumber')" [fieldErrors]="serverErrors.get('listNumber')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['firstName'].valid}">
                  <label>Taufname (*):</label>
                  <input class="form-control" id="firstName" placeholder="First name" type="text" formControlName="firstName" value="{{entryForm.value.firstName}}">
                  <div *ngIf="entryForm.controls['firstName'].hasError('required') && entryForm.controls['firstName'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                  <div *ngIf="entryForm.controls['firstName'].hasError('maxLength') && entryForm.controls['firstName'].touched" class="alert alert-danger">{{ 'error.field.firstName.maxLength' | translate }}</div>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('firstName')" [fieldErrors]="serverErrors.get('firstName')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['lastName'].valid}">
                  <label>Zuname (*):</label>
                  <input class="form-control" id="lastName" placeholder="Last name" type="text" formControlName="lastName" value="{{entryForm.value.lastName}}">
                  <div *ngIf="entryForm.controls['lastName'].hasError('required') && entryForm.controls['lastName'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                  <div *ngIf="entryForm.controls['lastName'].hasError('maxLength') && entryForm.controls['lastName'].touched" class="alert alert-danger">{{ 'error.field.lastName.maxLength' | translate }}</div>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('lastName')" [fieldErrors]="serverErrors.get('lastName')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['placeOfBirth'].valid}">
                  <label>Geburtsort (*):</label>
                  <input class="form-control" id="placeOfBirth" placeholder="Place Of Birth" type="text" formControlName="placeOfBirth" value="{{entryForm.value.placeOfBirth}}">
                  <div *ngIf="entryForm.controls['placeOfBirth'].hasError('required') && entryForm.controls['placeOfBirth'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                  <div *ngIf="entryForm.controls['placeOfBirth'].hasError('maxLength') && entryForm.controls['placeOfBirth'].touched" class="alert alert-danger">{{ 'error.field.lastName.maxLength' | translate }}</div>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('placeOfBirth')" [fieldErrors]="serverErrors.get('placeOfBirth')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['rankId'].valid}">
                  <label>Charge/Rank:</label>
                  <select class="form-control" id="rankId" formControlName="rankId">
                      <option *ngFor="let rank of militaryRanks" value="{{rank.id}}" [selected]="rank.id == entryForm?.value.rankId">{{rank.code}}</option>
                  </select>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('rankId')" [fieldErrors]="serverErrors.get('rankId')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['location'].valid}">
                  <label>Geburtsland</label>
                  <input class="form-control" id="location" placeholder="Land of origin" type="text" formControlName="location" value="{{entryForm.value.location}}">

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('location')" [fieldErrors]="serverErrors.get('location')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['houseNumber'].valid}">
                    <label>Haus No.</label>
                    <input class="form-control" id="houseNumber" placeholder="House number" type="text" formControlName="houseNumber" value="{{entryForm.value.houseNumber}}">
                    <div *ngIf="entryForm.controls['houseNumber'].hasError('required') && entryForm.controls['houseNumber'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                    <div *ngIf="entryForm.controls['houseNumber'].hasError('positiveNumber') && entryForm.controls['houseNumber'].touched" class="alert alert-danger">{{ 'error.field.negativeValue' | translate }}</div>

                    <field-validation-error *ngIf="serverErrors && serverErrors.get('houseNumber')" [fieldErrors]="serverErrors.get('houseNumber')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['age'].valid}">
                    <label>Jahr alt. (*):</label>
                    <input class="form-control" formControlName="age" id="age" placeholder="Age" type="number" value="{{entryForm.value.age}}">
                    <div *ngIf="entryForm.controls['age'].hasError('required') && entryForm.controls['age'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                    <div *ngIf="entryForm.controls['age'].hasError('positiveNumber') && entryForm.controls['age'].touched" class="alert alert-danger">{{ 'error.field.negativeValue' | translate }}</div>

                    <field-validation-error *ngIf="serverErrors && serverErrors.get('age')" [fieldErrors]="serverErrors.get('age')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['religionId'].valid}">
                  <label>Religion (*):</label>
                  <select class="form-control" id="religionId" formControlName="religionId">
                      <option *ngFor="let religion of denominations" value="{{religion.id}}" [selected]="religion.id == entryForm?.value.religionId">{{religion.code}}</option>
                  </select>
                  <div *ngIf="entryForm.controls['religionId'].hasError('required') && entryForm.controls['religionId'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('religionId')" [fieldErrors]="serverErrors.get('religionId')" ></field-validation-error>
                </div>

                <!-- professions combo -->
                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['sourceProfession'].valid}">
                  <label>Profession</label>
                  <input class="form-control" id="sourceProfession" name="sourceProfession" formControlName="sourceProfession" value="{{entryForm.value.sourceProfession}}"  placeholder="Source Profession / Skill" type="text">
                  <select class="form-control" id="professionId" formControlName="professionId">
                    <option *ngFor="let profession of professions" value="{{profession.id}}" [selected]="profession.id == entryForm?.value.professionId">{{profession.code}}</option>
                  </select>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('professionId')" [fieldErrors]="serverErrors.get('professionId')" ></field-validation-error>
                  <field-validation-error *ngIf="serverErrors && serverErrors.get('sourceProfession')" [fieldErrors]="serverErrors.get('sourceProfession')" ></field-validation-error>

                  <button type="button" class="btn btn-default" (click)="registerNewProfession()" >
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Register new profession
                  </button>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['maritalStatus'].valid}">
                  <label>Marital status (*):</label>
                  <select class="form-control" id="maritalStatus" formControlName="maritalStatus" >
                    <option *ngFor="let ms of maritalStatuses" value="{{ms.id}}" [selected]="ms.id == entryForm?.value.maritalStatus">{{ms.code}}</option>
                  </select>
                  <div *ngIf="entryForm.controls['maritalStatus'].hasError('required') && entryForm.controls['maritalStatus'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                  <field-validation-error *ngIf="serverErrors && serverErrors.get('maritalStatus')" [fieldErrors]="serverErrors.get('maritalStatus')" ></field-validation-error>
                </div>

                <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['wifePresent'].valid}">
                  <label for="redRadio">Wife present:</label>
                  <input id="redRadio" type="radio" formControlName="wifePresent" value="true" /><br />
                  <label for="greenRadio">Wife not present:</label>
                  <input id="greenRadio" type="radio" formControlName="wifePresent" value="false" /><br />

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('wifePresent')" [fieldErrors]="serverErrors.get('wifePresent')" ></field-validation-error>
                </div>

              </div>
              <!-- /. left panel end -->

              <div class="col-lg-7">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Height / Mass (*):</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group" [ngClass]="{'has-error':!entryForm.controls['unit1'].valid || !entryForm.controls['unit2'].valid || !entryForm.controls['unit3'].valid}" >
                        <label for="unit1">Schuh:</label>
                        <input id="unit1" id="unit1" type="number" formControlName="unit1" class="measureUnit" value="{{entryForm.value.unit1}}" placeholder="Foot" />
                        <label for="unit2">Zoll:</label>
                        <input id="unit2" id="unit2" type="number" formControlName="unit2" class="measureUnit" value="{{entryForm.value.unit2}}" placeholder="inch"  />
                        <label for="unit3">Strich:</label>
                        <input id="unit3" id="unit3" type="number" formControlName="unit3" class="measureUnit" value="{{entryForm.value.unit3}}" placeholder="" />
                        <br/>
                        <div *ngIf="entryForm.controls['unit1'].hasError('required') && entryForm.controls['unit1'].touched" class="alert alert-danger">{{ 'error.field.unit1.requiered' | translate }}</div>
                        <div *ngIf="entryForm.controls['unit1'].hasError('positiveNumber') && entryForm.controls['unit1'].touched" class="alert alert-danger">{{ 'error.field.unit1.negativeValue' | translate }}</div>
                        <div *ngIf="entryForm.controls['unit2'].hasError('required') && entryForm.controls['unit2'].touched" class="alert alert-danger">{{ 'error.field.unit2.requiered' | translate }}</div>
                        <div *ngIf="entryForm.controls['unit2'].hasError('positiveNumber') && entryForm.controls['unit2'].touched" class="alert alert-danger">{{ 'error.field.unit2.negativeValue' | translate }}</div>
                        <div *ngIf="entryForm.controls['unit3'].hasError('required') && entryForm.controls['unit3'].touched" class="alert alert-danger">{{ 'error.field.unit3.requiered' | translate }}</div>
                        <div *ngIf="entryForm.controls['unit3'].hasError('positiveNumber') && entryForm.controls['unit3'].touched" class="alert alert-danger">{{ 'error.field.unit3.negativeValue' | translate }}</div>

                        <field-validation-error *ngIf="serverErrors && serverErrors.get('unit1')" [fieldErrors]="serverErrors.get('unit1')" ></field-validation-error>
                        <field-validation-error *ngIf="serverErrors && serverErrors.get('unit2')" [fieldErrors]="serverErrors.get('unit2')" ></field-validation-error>
                        <field-validation-error *ngIf="serverErrors && serverErrors.get('unit3')" [fieldErrors]="serverErrors.get('unit3')" ></field-validation-error>
                        <br/>
                        Old Austrian measures: 1 Fuss, Schuh = 12 Zoll 1 Zoll = 12 Strich / Linien 1 Strich, Linie = 2,19 mm 1 Zoll = 2,63 cm 1 Fuss, Schuh = 31,6 cm
                      </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Service Record</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                        <label for="totalYearsServed">Total years (*):</label>
                        <input id="totalYearsServed" id="totalYearsServed" type="number" formControlName="totalYearsServed"  value="{{entryForm.value.totalYearsServed}}" placeholder="Total years Served" />
                        <label for="totalMonthsServed">Total months (*):</label>
                        <input id="totalMonthsServed" id="totalMonthsServed" type="number" formControlName="totalMonthsServed"  value="{{entryForm.value.totalMonthsServed}}" placeholder="Total months served"  />
                        <table class="table table-bordered table-striped table-service-record">
                          <thead>
                            <th>Id</th>
                            <th>Service record</th>
                            <th>Years</th>
                            <th>Months</th>
                            <th>Days</th>
                            <th></th>
                          </thead>
                          <tbody>
                            <tr *ngFor="let sr of mlEntry.serviceRecords; let i=index; trackBy:trackByIndex">
                              <td>{{sr.id}}</td>
                              <td>{{sr.description}}</td>
                              <td>{{sr.durationYears}}</td>
                              <td>{{sr.durationMonths}}</td>
                              <td>{{sr.durationDays}}</td>
                              <td>
                                  <!-- Button update row -->
                                  <button uib-tooltip-html="'Edit service record entry'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
                                    type="button" class="btn btn-primary btn-sm" aria-label="Edit"
                                    (click)="showEditServiceRecordModal(sr)">
                                      <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
                                  </button>
                                  <!-- button remove Row -->
                                  <button uib-tooltip-html="'Delete service record entry'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
                                    type="button" class="btn btn-danger btn-sm" aria-label="Remove"
                                    (click)="removeServiceRecord(i)">
                                      <span class="fa fa-times" aria-hidden="true"></span>
                                  </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>

                        <div *ngIf="entryForm.controls['totalYearsServed'].hasError('required') && entryForm.controls['totalYearsServed'].touched" class="alert alert-danger">{{ 'error.field.totalYearsServed.requiered' | translate }}</div>
                        <div *ngIf="entryForm.controls['totalYearsServed'].hasError('positiveNumber') && entryForm.controls['totalYearsServed'].touched" class="alert alert-danger">{{ 'error.field.totalYearsServed.negativeValue' | translate }}</div>
                        <div *ngIf="entryForm.controls['totalMonthsServed'].hasError('required') && entryForm.controls['totalMonthsServed'].touched" class="alert alert-danger">{{ 'error.field.totalMonthsServed.requiered' | translate }}</div>
                        <div *ngIf="entryForm.controls['totalMonthsServed'].hasError('positiveNumber') && entryForm.controls['totalMonthsServed'].touched" class="alert alert-danger">{{ 'error.field.totalMonthsServed.negativeValue' | translate }}</div>

                        <field-validation-error *ngIf="serverErrors && serverErrors.get('totalYearsServed')" [fieldErrors]="serverErrors.get('totalYearsServed')" ></field-validation-error>
                        <field-validation-error *ngIf="serverErrors && serverErrors.get('totalMonthsServed')" [fieldErrors]="serverErrors.get('totalMonthsServed')" ></field-validation-error>
                        <button type="button" class="btn btn-default" (click)="showAddServiceRecordModal()">
                          <span class="fa fa-plus" aria-hidden="true"></span>Add new service record
                        </button>
                      </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Children</h3>
                  </div>
                  <div class="panel-body">
                      <table class="table table-bordered table-striped">
                        <thead>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th></th>
                        </thead>
                          <tbody>
                            <tr *ngFor="let child of mlEntry.children; let i=index; trackBy:trackByIndex">
                              <td>{{child.id}}</td>
                              <td>{{child.name}}</td>
                              <td>{{child.age}}</td>
                              <td>{{child.gender}}</td>
                              <td>
                                  <!-- Button update row -->
                                  <button uib-tooltip-html="'Edit child record'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
                                    type="button" class="btn btn-primary btn-sm" aria-label="Edit"
                                    (click)="showEditChildModal(child)" >
                                      <span class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></span>
                                  </button>
                                  <!-- button remove Row -->
                                  <button uib-tooltip-html="'Delete child record'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
                                    type="button" class="btn btn-danger btn-sm" aria-label="Remove"
                                    (click)="removeChildRecord(i)">
                                      <span class="fa fa-times fa-lg" aria-hidden="true"></span>
                                  </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <button type="button" class="btn btn-default" (click)="showAddChildModal()">
                          <span class="fa fa-plus" aria-hidden="true"></span>Add new child
                        </button>
                  </div>
                </div>
              </div>
              <!-- /. right panel end -->
            </div>
          </fieldset>
          <!-- form control buttons -->
          <div class="row">
            <div class="col-lg-6">
              <button type="button" class="btn btn-default" [routerLink]="['/main/military-frontier/musterlists/', musterList?.id]">
                  <i class="fa fa-angle-double-left" aria-hidden="true"></i>Back to muster list
              </button>
            </div>
            <div class="col-lg-6">
              <button type="button" [disabled]="!entryForm.valid || saveDisabled" class="btn btn-primary" (click)="save()" >Save entry</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<mlentry-child-form (childEntered)="processChildEntry($event)"></mlentry-child-form>
<mlentry-servicerecord-form (recordEntered)="processServiceRecord($event)"></mlentry-servicerecord-form>
