<!-- Service Record Form Modal -->
<div class="modal fade" bsModal #serviceRecordForm="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="serviceRecordForm" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="serviceRecordModalTitle">Please enter Service Record data</h4>
      </div>
      <div *ngIf="srform" class="modal-body" >
        <form role="form" [formGroup]="srform">
          <fieldset>

            <div class="form-group" [ngClass]="{'has-error':!srform.controls['description'].valid && srform.controls['description'].touched}">
              <label>Description (*):</label>
              <input class="form-control" id="description" placeholder="Service description ..." type="text" formControlName="description" value="{{srform.value.description}}">
              <div *ngIf="srform.controls['description'].hasError('required') && srform.controls['description'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="srform.controls['description'].hasError('maxLength') && srform.controls['description'].touched" class="alert alert-danger">{{ 'error.field.maxLength255' | translate }}</div>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!srform.controls['durationYears'].valid && srform.controls['durationYears'].touched}">
              <label>Service years (*):</label>
              <input class="form-control" id="durationYears" placeholder="Service years" type="number" formControlName="durationYears" value="{{srform.value.durationYears}}">
              <div *ngIf="srform.controls['durationYears'].hasError('required') && srform.controls['durationYears'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="srform.controls['durationYears'].hasError('positiveNumber') && srform.controls['durationYears'].touched" class="alert alert-danger">{{ 'error.field.negativeValue' | translate }}</div>      
            </div>

            <div class="form-group" [ngClass]="{'has-error':!srform.controls['durationMonths'].valid && srform.controls['durationMonths'].touched}">
              <label>Service months (*):</label>
              <input class="form-control" id="durationMonths" placeholder="Service months" type="number" formControlName="durationMonths" value="{{srform.value.durationMonths}}">
              <div *ngIf="srform.controls['durationMonths'].hasError('required') && srform.controls['durationMonths'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="srform.controls['durationMonths'].hasError('positiveNumber') && srform.controls['durationMonths'].touched" class="alert alert-danger">{{ 'error.field.negativeValue' | translate }}</div>      
            </div>
            
            <div class="form-group" [ngClass]="{'has-error':!srform.controls['durationDays'].valid && srform.controls['durationDays'].touched}">
              <label>Service days (*):</label>
              <input class="form-control" id="durationDays" placeholder="X/30[31]" type="text" formControlName="durationDays" value="{{srform.value.durationDays}}">
              <div *ngIf="srform.controls['durationDays'].hasError('required') && srform.controls['durationDays'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="srform.controls['durationDays'].hasError('maxLength') && srform.controls['durationDays'].touched" class="alert alert-danger">{{ 'error.field.maxLength5' | translate }}</div>
            </div>

          </fieldset>  
        </form>  
      </div>
      <div *ngIf="srform" class="modal-footer">
        <button type="button" [disabled]="!srform.valid" class="btn btn-primary" (click)="submit()" >Save</button>
        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
      </div>
    </div>
  </div>
</div>