<br/>
<div class="container-fluid">
  <div class="row" >
    <div class="col-lg-12">
        <button *ngIf="mlId"  type="button" class="btn btn-default pull-left" (click)="backToMlEntryForm()">
          <i class="fa fa-external-link" aria-hidden="true"></i>
          Back to muster list entry
        </button>
        <button type="button" class="btn btn-primary pull-right" (click)="showEditModal(null)">
          Add new profession
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <br/>
    </div>
  </div>
  <!-- Profession search form -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <form class="form-inline" role="form" (ngSubmit)="search()" novalidate [formGroup]="searchForm">
              <div class="form-group">
                <label for="code">Pofession code: </label>
                <input type="text" class="form-control" formControlName="code"
                       id="code"
                       name="code"
                       placeholder="Code"
                       value="{{searchForm.value.code}}"
                />
                <label for="name">Pofession name: </label>
                <input type="text" class="form-control" formControlName="name"
                       id="name"
                       name="name"
                       placeholder="Name"
                       value="{{searchForm.value.name}}"
                />
              </div>
              <button class="btn btn-primary" type="submit" role="button" [disabled]="!searchFormEnabled">
                <i class="fa fa-search" aria-hidden="true"></i> Search
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive table-striped table-bordered">
        <thead class="thead-inverse">
        <tr>
          <th (click)="sortBy('id')">
            <a href="javascript:void(0);">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'id', 'fa-chevron-down': sortAttribute == '-id'}" aria-hidden="true"></i>
            Id
            </a>
          </th>
          <th (click)="sortBy('code')">
            <a href="javascript:void(0);">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'code', 'fa-chevron-down': sortAttribute == '-code'}" aria-hidden="true"></i>
            Code
            </a>
          </th>
          <th (click)="sortBy('name')">
            <a href="javascript:void(0);">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'name', 'fa-chevron-down': sortAttribute == '-name'}" aria-hidden="true"></i>
            Name
            </a>
          </th>
          <th>
            Created at
          </th>
          <th>
            Created by
          </th>
          <th>
            Last modified at
          </th>
          <th>
            Last modified by
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngIf="pagedResult">
        <tr *ngFor="let profession of pagedResult.content | paginate: {id: 'custom', itemsPerPage: pagedResult.size, currentPage: pageNumber, totalItems: pagedResult.totalElements}">
          <td>{{profession.id}}</td>
          <td>{{profession.code}}</td>
          <td>{{profession.name}}</td>
          <td>{{profession.createdAt | amDateFormat: 'LL'}}</td>
          <td>{{profession.createdBy}}</td>
          <td>{{profession.modifiedAt | amDateFormat: 'LL'}}</td>
          <td>{{profession.modifiedBy}}</td>
          <td>
            <button *ngIf="mlId" type="button" class="btn btn-success" (click)="selectProfession(profession)"
                    uib-tooltip-html="'Select this person and return'"
                    uib-tooltip-trigger="mouseenter"
                    tooltip-animation="false"
                    aria-label="Select this person and return">
              <span class="fa fa-check" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-info" (click)="showEditModal(profession)"
                    uib-tooltip-html="'View person details'"
                    uib-tooltip-trigger="mouseenter"
                    tooltip-animation="false"
                    aria-label="Person details">
              <span class="fa fa-pencil" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Table pagination -->
  <div class="row form-inline">
    <app-pagination-control *ngIf="pagedResult"
                            (submitChangeSize)="changeSize($event)"
                            (submitPageChange)="search($event)"
                            [firstRecord]="firstRecord()"
                            [lastRecord]="lastRecord()"
                            [numOfRecords]="pagedResult?.totalElements"
                            [pageNumber]="pageNumber"
                            [initPageSize]="INIT_PAGE_SIZE">
    </app-pagination-control>
  </div>
  <!-- /.container-fluid -->
</div>
<app-profession-form (notify)="onNotify($event)"></app-profession-form>
