<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Muster list details form</h3>
  </div>
  <form class="ng-scope form-horizontal" name="musterListForm" id="musterListForm">
    <div class="modal-body">
      <div class="container-fluid">
        <fieldset>
          <!-- Unit select box -->
          <div class = "form-group">
            <label class="col-md-3 control-label ng-binding" for="regimentId">Company:</label>
            <div class="col-md-7" ng-class="{'has-error' : (musterListForm.unitId.$invalid && !musterListForm.unitId.$pristine) || mlEditModalCtl.serverValidationErrors.unitId}">
              <select class="form-control" id="unitId" name="unitId"
                      data-ng-options="unit.id as unit.name | translate group by unit.parentUnitName | translate for unit in mlEditModalCtl.companies"
                      ng-model="mlEditModalCtl.details.unitId">
                <option value="">Please select a company in a regiment ...</option>
              </select>
              <p class="help-block" ng-show="musterListForm.unitId.$error.required && !musterListForm.unitId.$pristine">At least one company needs to be selected.</p>
            </div>
          </div>
          
          <!-- Title -->
          <div class = "form-group">
            <label class="col-md-3 control-label ng-binding" for="referenceCode">Title:</label>
            <div class="col-md-7" ng-class="{'has-error' : (musterListForm.title.$invalid && !musterListForm.title.$pristine || mlEditModalCtl.serverValidationErrors.title)}">
              <input id="title" name="title" type="text"
                class="form-control ng-pristine ng-untouched ng-valid ng-valid-required"
                ng-maxlength="80"
                ng-model="mlEditModalCtl.details.title"
                required
              />
              <p class="help-block" ng-show="musterListForm.title.$error.required && !musterListForm.title.$pristine">Muster list title is requiered.</p>
              <p class="help-block" ng-show="musterListForm.title.$error.maxlength && !musterListForm.title.$pristine">Title may not be more than 80 charachters long.</p>
              <server-validation-messages messages="mlEditModalCtl.serverValidationErrors.title"></server-validation-messages>
            </div>
          </div>

          <!-- Archival reference/signature -->
          <div class = "form-group">
            <label class="col-md-3 control-label ng-binding" for="referenceCode">Signature:</label>
            <div class="col-md-7" ng-class="{'has-error' : (musterListForm.referenceCode.$invalid && !musterListForm.referenceCode.$pristine || mlEditModalCtl.serverValidationErrors.referenceCode)}">
              <input id="referenceCode" name="referenceCode" type="text"
                class="form-control ng-pristine ng-untouched ng-valid ng-valid-required"
                ng-maxlength="80"
                ng-model="mlEditModalCtl.details.referenceCode"
                required
              />
              <p class="help-block" ng-show="musterListForm.referenceCode.$error.required && !musterListForm.referenceCode.$pristine">Reference/Signature is requiered.</p>
              <p class="help-block" ng-show="musterListForm.referenceCode.$error.maxlength && !musterListForm.referenceCode.$pristine">reference code may not be more than 80 charachters long.</p>
              <server-validation-messages messages="mlEditModalCtl.serverValidationErrors.referenceCode"></server-validation-messages>
          </div>

          <!-- Year -->
          <div class = "form-group">
            <label class="col-md-3 control-label ng-binding" for="year">Year:</label>
            <div class="col-md-3" ng-class="{'has-error' : (musterListForm.year.$invalid && !musterListForm.year.$pristine || mlEditModalCtl.serverValidationErrors.year)}">
              <input id="year" name="year" type="number"
                ng-min="1527"
                ng-max="1883" 
                class="form-control ng-pristine ng-untouched ng-valid ng-valid-required"
                ng-model="mlEditModalCtl.details.year"
                required
              />
              <p class="help-block" ng-show="musterListForm.year.$error.required && !musterListForm.year.$pristine">Year property is requiered.</p>
              <p class="help-block" ng-show="musterListForm.year.$error.number && !musterListForm.year.$pristine">Not a valid number!</p>
              <p class="help-block" ng-show="musterListForm.year.$error.max && !musterListForm.year.$pristine">Year must be in range (1527 - 1883)</p>
              <p class="help-block" ng-show="musterListForm.year.$error.min && !musterListForm.year.$pristine">Year must be in range (1527 - 1883)</p>
              <server-validation-messages messages="mlEditModalCtl.serverValidationErrors.year"></server-validation-messages>
            </div>
            <label class="col-md-3 control-label ng-binding" for="month">Month:</label>
            <div class="col-md-3" ng-class="{'has-error' : (musterListForm.month.$invalid && !musterListForm.month.$pristine || mlEditModalCtl.serverValidationErrors.month)}">
              <select name="month" id="month" ng-model="mlEditModalCtl.details.month"
                data-ng-options="month.id as month.code | translate for month in mlEditModalCtl.months">
              </select>
            </div> 
          </div>

        </fieldset>
    </div>
    <!-- button controls -->
    <div class="modal-footer">
      <div class="row">
        <button class="btn btn-default" type="button" ng-click="mlEditModalCtl.close()"> Close</button>
        <button
          ng-disabled="musterListForm.unitId.$invalid
            || musterListForm.title.$invalid
            || musterListForm.referenceCode.$invalid
            || musterListForm.year.$invalid
            || musterListForm.month.$invalid
            || mlEditModalCtl.isEditDisabled" 
            type="button" 
            class="btn btn-primary" 
            ng-click="mlEditModalCtl.save()">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
        </button>
      </div>
    </div>
  </form>
</div>
