<div class="row">
  <div class="col-lg-12">
    <h2 class="page-header">New user registration</h2>
  </div>
</div>

<div class="row vertical-align-box">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Please fill in the registration form</div>
      <div class="panel-body">
        <form class="form-horizontal" role="form" name="userForm">
          <fieldset>

            <!-- username -->
            <div class = "form-group" ng-class="{'has-error' : (userForm.username.$invalid && !userForm.username.$pristine) || regCtrl.validationErrors.username}">
              <label class="col-lg-3 control-label" for="username">Username:</label>
              <div class="col-lg-6">
                <input type="text"
                       name="username"
                       id="username"
                       ng-model="regCtrl.userData.username"
                       class="form-control"
                       required
                       ng-minlength="5"
                       ng-maxlength="30"
                />
                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.username.$dirty  && userForm.username.$invalid && userForm.username.$error.required" >Please enter username!</span>
                <span class="text-danger" ng-show="userForm.username.$dirty  && userForm.username.$invalid && userForm.username.$error.minlength" >Username must be minimum five characters long!</span>
                <span class="text-danger" ng-show="userForm.username.$dirty  && userForm.username.$invalid && userForm.username.$error.maxlength" >Username may not be longer than 30 characters!</span>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.username" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.username">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <!-- First Name -->
            <div class = "form-group" ng-class="{'has-error' : (userForm.firstName.$invalid && !userForm.firstName.$pristine) || regCtrl.validationErrors.firstName}">
              <label class="col-lg-3 control-label" for="firstName">First name:</label>
              <div class="col-lg-6">
                <input type="text"
                       name="firstName"
                       id="firstName"
                       ng-model="regCtrl.userData.firstName"
                       class="form-control"
                       required
                />
                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.firstName.$dirty  && userForm.firstName.$invalid && userForm.firstName.$error.required" >Please enter Your First name!</span>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.firstName" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.firstName">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <!-- Last Name -->
            <div class = "form-group" ng-class="{'has-error' : (userForm.lastName.$invalid && !userForm.lastName.$pristine) || regCtrl.validationErrors.lastName}">
              <label class="col-lg-3 control-label" for="lastName">Last name:</label>
              <div class="col-lg-6">
                <input type="text" class="form-control"
                       name="lastName"
                       id="lastName"
                       ng-model="regCtrl.userData.lastName"
                       required
                />
                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.lastName.$dirty  && userForm.lastName.$invalid && userForm.lastName.$error.required" >Please enter Your Last name!</span>
                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.lastName" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.lastName">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <hr/>

            <!-- Address -->
            <div class = "form-group" ng-class="{'has-error' : (userForm.address.$invalid && !userForm.address.$pristine) || regCtrl.validationErrors.address}">
              <label class="col-lg-3 control-label" for="address">Address:</label>
              <div class="col-lg-6">
                <input type="text" class="form-control"
                       name="address"
                       id="address"
                       ng-model="regCtrl.userData.address"
                       required
                />

                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.address.$dirty  && userForm.address.$invalid && userForm.address.$error.required" >Please fill in an address!</span>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.address" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.address">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <!-- Postal Code -->
            <div class = "form-group" ng-class="{'has-error' : (userForm.postalCode.$invalid && !userForm.postalCode.$pristine) || regC.validationErrors.postalCode}">
              <label class="col-lg-3 control-label" for="postalCode">Postal code:</label>
              <div class="col-lg-6">
                <input type="text" class="form-control"
                       name="postalCode"
                       id="postalCode"
                       ng-model="regCtrl.userData.postalCode"
                       required
                />
                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.postalCode.$dirty  && userForm.postalCode.$invalid && userForm.postalCode.$error.required">Please enter postal code!</span>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.postalCode" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.postalCode">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <!-- Place -->
            <div class="form-group" ng-class="{'has-error' : (userForm.place.$invalid && !userForm.place.$pristine) || regCtrl.validationErrors.place}">
              <label class="col-lg-3 control-label" for="place">Place:</label>
              <div class="col-lg-6">
                <input type="text" class="form-control"
                       name="place"
                       id="place"
                       ng-model="regCtrl.userData.place"
                       required
                />
                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.place.$dirty  && userForm.place.$invalid && userForm.place.$error.required">Please fill in Place data!</span>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.place" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.place">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <!-- Country -->
            <div class = "form-group">
              <label class="col-lg-3 control-label" for="countryCode">Country:</label>
              <div class="col-lg-6">
                <select name="countryCode"
                        id="countryCode"
                        ng-model="regCtrl.userData.countryCode"
                        class="col-lg-6">
                  <option ng-repeat="country in regCtrl.countries" value="{{country.code}}">{{country.name}}</option>
                </select>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.countryCode" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.countryCode">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <hr/>

            <!-- Email -->
            <div class="form-group" ng-class="{'has-error' : (userForm.email.$invalid && !userForm.email.$pristine) || regCtrl.validationErrors.email}">
              <label class="col-lg-3 control-label" for="email">Email address:</label>
              <div class="col-lg-6">
                <input type="email" class="form-control"
                       name="email"
                       id="email"
                       ng-model="regCtrl.userData.email"
                       required
                />
                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.email.$dirty  && userForm.email.$invalid && userForm.email.$error.required">Please enter your email address!</span>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.email" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.email">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <!-- Mobile -->
            <div class="form-group" ng-class="{'has-error' : (userForm.mobile.$invalid && !userForm.mobile.$pristine) || regCtrl.validationErrors.mobile}">
              <label class="col-lg-3 control-label" for="mobile">Mobile:</label>
              <div class="col-lg-6">
                <input type="text" class="form-control"
                       name="mobile"
                       id="mobile"
                       ng-model="regCtrl.userData.mobile"
                       required
                />

                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.mobile.$dirty  && userForm.mobile.$invalid && userForm.mobile.$error.required">Please enter mobile!</span>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.mobile" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.mobile">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

            <!-- Telephone -->
            <div class = "form-group" ng-class="{'has-error' : (userForm.phone.$invalid && !userForm.phone.$pristine) || regCtrl.validationErrors.phone}">
              <label class="col-lg-3 control-label" for="phone">Telephone:</label>
              <div class="col-lg-6">
                <input type="text" class="form-control"
                       name="phone"
                       id="phone"
                       ng-model="regCtrl.userData.phone"
                       required
                />
                <!-- client side validations -->
                <span class="text-danger" ng-show="userForm.phone.$dirty  && userForm.phone.$invalid && userForm.phone.$error.required">Please enter telephone!</span>

                <!-- server side validations -->
                <div ng-show="regCtrl.validationErrors.phone" data-ng-repeat="validationErrorMessage in regCtrl.validationErrors.phone">
                  <p class="help-block" >{{validationErrorMessage}}</p>
                </div>

              </div>
            </div>

          </fieldset>

          <hr/>
          <!-- Form Buttons -->
          <div class="col-lg-5 col-lg-offset-2">
            By creating an account, you agree to our <a ng-click="regCtrl.openTermsOfServiceModal()">Terms of Services</a>.
          </div>
          <div class="col-lg-3">
            <button type="button"
                    ng-disabled="userForm.$invalid"
                    ng-click="regCtrl.register()"
                    class="btn btn-primary btn-lg"
            >
              <span class="glyphicon glyphicon-pencil"></span> Sign Up
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <br/>
</div>

