<div class="row">
  <br/>
</div>
<div class="row">
  <div class="col-lg-8">
    <div class="bs-callout bs-callout-info">
      <h4>Registration successfull</h4>
      Your registration has been successfully submitted!
      In the next few days You will receive an email from the site administrator with further instructions on how to proceed together with Your credentials, necessary to sign in.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <h3>New User Data</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <table class="table">
      <tr>
        <td class="text-right">Username:</td>
        <td><strong>{{regSuccCtrl.user.username}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">First name:</td>
        <td><strong>{{regSuccCtrl.user.firstName}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Last name:</td>
        <td><strong>{{regSuccCtrl.user.lastName}}</strong></td>
      </tr>
      <tr>
        <td class="text-right" >Address:</td>
        <td><strong>{{regSuccCtrl.user.address}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Postal code:</td>
        <td><strong>{{regSuccCtrl.user.postalCode}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Place:</td>
        <td><strong>{{regSuccCtrl.user.place}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Country:</td>
        <td><strong>{{regSuccCtrl.user.countryCode}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Email address:</td>
        <td><strong>{{regSuccCtrl.user.email}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Mobile:</td>
        <td><strong>{{regSuccCtrl.user.mobile}}</strong></td>
      </tr>
      <tr>
        <td class="text-right">Phone:</td>
        <td><strong>{{regSuccCtrl.user.phone}}</strong></td>
      </tr>
      <tr>
        <td class="text-right"></td>
        <td></td>
      </tr>
    </table>
    <br/>
    <br/>
  </div>
</div>
