.main {
  margin-top: 16vh;
}

.main-content {
  /*    background-color:#009edf;*/
  border: 2px solid #262626;
  margin: 0 auto;
  max-width: 430px;
  padding: 20px 40px;
  color: #ccc;
  text-shadow: none;

}

.input-group {
  margin: 20px 0px;
}

.input-group-addon {
  color: #262626;
  font-size: 17px;
}

.login-button {
  margin: 0px auto;
  max-width: 200px;;

}

.form-header {
  max-width: 430px;
  margin: 0 auto;
  background-color: #262626;
  color: #fff;
  width: 100%;
  padding: 20px 0px;
}

.remember {
  color: black;
}
