<section class="login-info">
  <div class="container">
    <div class="row main">
      <div class="form-header">
        <h1 class="text-center">MLWICBD</h1>
      </div>
      <div class="main-content">
        <form novalidate [formGroup]="loginForm" role="form" (ngSubmit)="login()">
          <div class="input-group ">
            <span class="input-group-addon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </span>
            <input id="username" type="text" class="form-control" name="username"
                   placeholder="Enter your Username" formControlName="username" autofocus required>
          </div>
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-lock" aria-hidden="true"></i>
            </span>
            <input id="password" type="password" class="form-control" name="password"
                   placeholder="Enter your Password" formControlName="password" required>
          </div>

          <div class="checkbox">
            <label class="remember control-label" for="remember-me">
              <input name="remember" id="remember-me" type="checkbox"
                     formControlName="rememberMe">
              &nbsp;Remember Me
            </label>
          </div>
          <br />
          <div class="form-group">
            <button type="submit" class="btn btn-info btn-lg btn-block login-button"
                    [disabled]="loginForm.invalid">
              Sign in
            </button>
          </div>
        </form>
        <alert type="danger" dismissible="true" *ngIf="loginErrorResponse">
          Error: {{loginErrorResponse.error}}
          {{loginErrorResponse.error_description}}
        </alert>
      </div>

    </div>
  </div>

</section>
