<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">{{app.title}} v{{app.version}}</a>
    </div>
    <!-- /.navbar-header -->
    <header-notification ng-if="app.authenticated"></header-notification>

    <ul ng-if="!app.authenticated" class="nav navbar-top-links navbar-right">
        <a ui-sref="signIn"
           class="btn btn-primary btn-sm"
           role="button">Sign in
        </a>
        <a ui-sref="registration-form"
           class="btn btn-primary btn-sm"
           role="button">Registration
        </a>
    </ul>

  <sidebar></sidebar>
</nav>
