<div class="row" *ngIf="mlDetails">
  <div class="col-lg-12">
    <h1 class="page-header">[{{mlDetails.id}}] {{mlDetails.title}}
      <button [disabled]="isEditDisabled()" type="button" class="btn btn-default pull-right" [routerLink]="['../form/', mlDetails?.id ]">
         <span class="fa fa-pencil-square-o" aria-hidden="true"></span> Edit Muster list details
       </button>
    </h1>
  </div>
</div>
<div class="row" *ngIf="mlDetails">
    <div class="col-lg-7">
        <p>Regiment: <b>{{mlDetails.parentUnitName | translate}}</b></p>
        <p>Company: <b>{{mlDetails.unitName | translate}}</b></p>
        <p>Reference: <b>{{mlDetails.referenceCode}}</b></p>
        <h4>Year: <span class="label label-default">{{mlDetails.year}}</span> Month: <span class="label label-default">{{mlDetails.month}}</span></h4>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-body">
              <p>Created by: <b>{{mlDetails.createdBy || '-' }}</b> on <b>{{mlDetails.createdAt | date: 'yyyy-MM-dd HH:mm:ss'}}</b></p>
              <p>Last modified by: <b>{{mlDetails.modifiedBy || '-' }}</b> on <b>{{mlDetails.modifiedAt | date: 'yyyy-MM-dd HH:mm:ss'}}</b></p>
            </div>
        </div>
    </div>
</div>
<!-- Muster List Entries Search Form -->
<div class="row">
  <div class="col-lg-10">
    <button type="button" class="btn btn-default" [routerLink]="['/main/military-frontier/musterlists']" >
         <i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to search results
     </button>
  </div>
  <div class="col-lg-1">
    <button [disabled]="isNewEntryDisabled()" type="button" class="btn btn-primary"
            [routerLink]="['/main/military-frontier/musterlists', mlDetails?.id, 'entry-new' ]" >
         <span class="fa fa-plus" aria-hidden="true"></span> Add new entry
     </button>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <br/>
    </div>
</div>

<!-- Muster List Entries Table -->
<div class="row">
  <div class="col-lg-12">
    <table class="table table-condensed table-bordered table-striped table-muster-list-entries">
      <thead class="thead-inverse">
        <tr>
          <th (click)="sortBy('listNumber')">
            <a href="javascript:void(0);">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'listNumber', 'fa-chevron-down': sortAttribute == '-listNumber'}" aria-hidden="true"></i>#
            </a>
          </th>
          <th (click)="sortBy('lastName')" >
            <a href="javascript:void(0);">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'lastName', 'fa-chevron-down': sortAttribute == '-lastName'}" aria-hidden="true"></i>
            Person
            </a>
          </th>
          <th (click)="sortBy('rank.code')">
            <a href="javascript:void(0);">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'rank.code', 'fa-chevron-down': sortAttribute == '-rank.code'}" aria-hidden="true"></i>
            Rank
            </a>
          </th>
          <th>Age</th>
          <th (click)="sortBy('location')">
            <a href="javascript:void(0);">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'location', 'fa-chevron-down': sortAttribute == '-location'}" aria-hidden="true"></i>
            Places
            </a>
          </th>
          <th (click)="sortBy('religion.code')">
            <a href="javascript:void(0);">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'religion.code', 'fa-chevron-down': sortAttribute == '-religion.code'}" aria-hidden="true"></i>
            Religion
            </a>
          </th>
          <!--
          <th (click)="sortBy('profession.code')">
            <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'profession.code', 'fa-chevron-down': sortAttribute == '-profession.code'}" aria-hidden="true"></i>
            Profession
          </th>
          -->
          <th>Married</th>
          <th>Service record</th>
          <th>Duration</th>
          <th> </th>
        </tr>
      </thead>
      <tbody *ngIf="pagedResult">
      <tr *ngFor="let mle of pagedResult.content | paginate: {id: 'custom', itemsPerPage: pagedResult.size, currentPage: pageNumber, totalItems: pagedResult.totalElements}">
        <td>{{mle.listNumber}}</td>
        <td>{{mle.firstName}} {{mle.lastName}} von {{mle.placeOfBirth}}</td>
        <td>{{mle.rank?.code}}</td>
        <td>{{mle.age}}</td>
        <td>{{mle.location}} / {{mle.houseNumber}}</td>
        <td>{{mle.religion?.code}}</td>
        <!--<td>{{mle.profession?.code}}</td>-->
        <td>{{mle.maritalStatus}}</td>
        <td>
            <div *ngFor="let sr of mle.serviceRecords">
              <div class="col-md-8">{{sr.description}}</div>
              <div class="col-md-1">{{sr.durationYears}}</div>
              <div class="col-md-1">{{sr.durationMonths}}</div>
              <div class="col-md-1">{{sr.durationDays}}</div>
            </div>
        </td>
        <td>{{mle.totalYearsServed}} / {{mle.totalMonthsServed}}</td>
        <td>
            <button uib-tooltip-html="'Edit'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
              [disabled]="isDisabledEntryEdit()" type="button" class="btn btn-primary btn-sm" aria-label="Edit"
              (click)="editSelectedEntry(mle.id)">
              <span class="fa fa-pencil-square-o" aria-hidden="true"></span>
            </button>
            <!-- button remove Row -->
            <button uib-tooltip-html="'Delete'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
              [disabled]="isDisabledEntryDelete()" type="button" class="btn btn-danger btn-sm" aria-label="Remove"
              (click)="deleteSelectedEntry(mle.id)">
              <span class="fa fa-times" aria-hidden="true"></span>
            </button>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
</div>

<!-- Table pagination -->
<div class="row form-inline">
    <app-pagination-control *ngIf="pagedResult"
      (submitChangeSize)="changeSize($event)"
      (submitPageChange)="search($event)"
      [firstRecord]="firstRecord()"
      [lastRecord]="lastRecord()"
      [numOfRecords]="pagedResult?.totalElements"
      [pageNumber]="pageNumber">
    </app-pagination-control>

    <div class="col-md-2 clearfix">
      <div class="align-with-pagination">
        <button *ngIf="pagedResult" type="button" class="btn btn-primary"
            (click)="downloadAsCsv()" >
         <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download as CSV
     </button>
      </div>
    </div>
</div>
