<div class="container-fluid">
  <br/>
<div class="row" *ngIf="errorAlertMessage">
  <div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    <strong>Error!</strong> {{errorAlertMessage | translate}}
  </div>
</div>
<div class="row" *ngIf="mlForm">
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Please enter Muster List Details:</div>
      <div class="panel-body">
        <form role="form" [formGroup]="mlForm">
        <fieldset>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{'has-error':!mlForm.controls['referenceCode'].valid && mlForm.controls['referenceCode'].touched}">
                <label>Reference code: (*):</label>
                <input class="form-control" id="referenceCode" placeholder="Archival reference code" type="text" formControlName="referenceCode" value="{{mlForm.value.referenceCode}}">
                <div *ngIf="mlForm.controls['referenceCode'].hasError('required') && mlForm.controls['referenceCode'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                <div *ngIf="mlForm.controls['referenceCode'].hasError('maxLength') && mlForm.controls['referenceCode'].touched" class="alert alert-danger">{{ 'error.field.maxLength80' | translate }}</div>
    
                <field-validation-error *ngIf="serverErrors && serverErrors.get('referenceCode')" [fieldErrors]="serverErrors.get('referenceCode')" ></field-validation-error>
              </div>

              <div class="form-group" [ngClass]="{'has-error':!mlForm.controls['title'].valid && mlForm.controls['title'].touched}">
                <label>Title: (*):</label>
                <input class="form-control" id="title" placeholder="Muster list title" type="text" formControlName="title" value="{{mlForm.value.title}}">
                <div *ngIf="mlForm.controls['title'].hasError('required') && mlForm.controls['title'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                <div *ngIf="mlForm.controls['title'].hasError('maxLength') && mlForm.controls['referenceCode'].touched" class="alert alert-danger">{{ 'error.field.maxLength200' | translate }}</div>
    
                <field-validation-error *ngIf="serverErrors && serverErrors.get('title')" [fieldErrors]="serverErrors.get('title')" ></field-validation-error>
              </div>

              <div class="form-group" [ngClass]="{'has-error':!mlForm.controls['unitId'].valid && mlForm.controls['unitId'].touched}">
                  <label>Military unit (*):</label>
                  <select class="form-control" id="unitId" formControlName="unitId">
                      <option *ngFor="let unit of units" value="{{unit.id}}" [selected]="unit.id == mlForm?.value.unitId">{{unit.name}} [{{unit.unitType}}] </option>
                  </select>
                  <div *ngIf="mlForm.controls['unitId'].hasError('required') && mlForm.controls['unitId'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('unitId')" [fieldErrors]="serverErrors.get('unitId')" ></field-validation-error>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!mlForm.controls['year'].valid && mlForm.controls['year'].touched}">
                <label>Year (*):</label>
                <input class="form-control" id="year" placeholder="Year ie. 1702" type="text" formControlName="year" value="{{mlForm.value.year}}">
                <div *ngIf="mlForm.controls['year'].hasError('required') && mlForm.controls['year'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
                <div *ngIf="mlForm.controls['year'].hasError('range') && mlForm.controls['year'].touched" class="alert alert-danger">{{ 'error.field.musterlist.year.range-length' | translate }}</div>
                
                <field-validation-error *ngIf="serverErrors && serverErrors.get('year')" [fieldErrors]="serverErrors.get('year')" ></field-validation-error>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" [ngClass]="{'has-error':!mlForm.controls['month'].valid && mlForm.controls['month'].touched}">
                  <label>Month (*):</label>
                  <select class="form-control" id="month" formControlName="month">
                      <option *ngFor="let month of monthYears" value="{{month.value}}" [selected]="month.value == mlForm?.value.month">{{month.code}}</option>
                  </select>
                  <div *ngIf="mlForm.controls['month'].hasError('required') && mlForm.controls['month'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>

                  <field-validation-error *ngIf="serverErrors && serverErrors.get('month')" [fieldErrors]="serverErrors.get('month')" ></field-validation-error>
              </div>
            </div>
          </div>
        </fieldset>
        <!-- form control buttons -->
        <div class="row">
          <div class="col-md-6">
              <button type="button" class="btn btn-default" (click)="goBack()">Cancel</button>
          </div>
          <div class="col-md-6">  
              <button type="button" [disabled]="!mlForm.valid || saveDisabled" class="btn btn-primary pull-right" (click)="save()" >Save entry</button>
          </div>
        </div>
        </form>  
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="well">
      <h4>Muster lists form help</h4>
      <p>Help instructions how to fill in the form.</p>
      <br/>
      <p>Fields marked with (*) are mandatory and can not be left blank or empty.</p>
    </div>
  </div>  
</div>
</div>