<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <br/>
      <div class="panel panel-default">
        <div class="panel-body">
          <form role="form" (ngSubmit)="search()" novalidate [formGroup]="searchForm" class="row form-inline">
            <div class="form-group">
              <label for="unitId">Regiment: </label>
              <select class="form-control" id="unitId" name="unitId" formControlName="unitId">
                <option [selected] value="">REGIMENT.ALL</option>
                <option *ngFor="let regiment of regiments" [value]="regiment.id">{{ regiment.name | translate }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="year">Year: </label>
              <input type="text" class="form-control"
                   name="year"
                   id="year"
                   formControlName="year"
                   placeholder="yyyy"
              />
            </div>
            <div class="form-group">
              <label for="month">Month: </label>
              <select class="form-control" id="month" name="month" formControlName="month" >
                <option [selected] value="">-</option>
                <option *ngFor="let month of months" [value]="month.value">{{ month.code | translate }}</option>
              </select>
            </div>

            <button class="btn btn-primary" type="submit" role="button" [disabled]="!searchFormEnabled">
              <i class="fa fa-search" aria-hidden="true"></i> Search
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
        <div class="col-md-12">
          <alert *ngIf="globalAlertMessage" [type]="'danger'" dismissible="true" (onClose)="resetAlert()">
            {{globalAlertMessage}}
          </alert>
          <table class="table table-responsive table-striped table-bordered">
            <thead class="thead-inverse">
                <tr>
                  <th (click)="sortBy('id')">
                    <a href="javascript:void(0);">
                    <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'id', 'fa-chevron-down': sortAttribute == '-id'}" aria-hidden="true"></i>
                    Id
                    </a>
                  </th>
                  <th (click)="sortBy('year-month')">
                    <a href="javascript:void(0);">
                    <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'year-month', 'fa-chevron-down': sortAttribute == '-year-month'}" aria-hidden="true"></i>
                    Year/Month
                    </a>
                  </th>
                  <th (click)="sortBy('parentUnitName')">
                    <a href="javascript:void(0);">
                    <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'parentUnitName', 'fa-chevron-down': sortAttribute == '-parentUnitName'}" aria-hidden="true"></i>
                    Regiment
                    </a>
                  </th>
                  <th (click)="sortBy('unitName')">
                    <a href="javascript:void(0);">
                    <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'unitName', 'fa-chevron-down': sortAttribute == '-unitName'}" aria-hidden="true"></i>
                    Unit
                    </a>
                  </th>
                  <th (click)="sortBy('unitType')">
                    <a href="javascript:void(0);">
                    <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'unitType', 'fa-chevron-down': sortAttribute == '-unitType'}" aria-hidden="true"></i>
                    Unit Type
                    </a>
                  </th>
                  <th (click)="sortBy('title')">
                    <a href="javascript:void(0);">
                    <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'title', 'fa-chevron-down': sortAttribute == '-title'}" aria-hidden="true"></i>
                    Title
                    </a>
                  </th>
                  <th (click)="sortBy('referenceCode')">
                    <a href="javascript:void(0);">
                    <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'referenceCode', 'fa-chevron-down': sortAttribute == '-referenceCode'}" aria-hidden="true"></i>
                    Signature
                    </a>
                  </th>
                  <th>No. Entries</th>
                  <th *ngIf = "mleId"></th>
                </tr>
            </thead>
            <tbody *ngIf="pagedResult">
              <tr *ngFor="let musterList of pagedResult.content | paginate: {id: 'custom', itemsPerPage: pagedResult.size, currentPage: pageNumber, totalItems: pagedResult.totalElements}">
                  <td>{{musterList.id}}</td>
                  <td>{{musterList.year}}/{{musterList.month}}</td>
                  <td>{{ musterList.parentUnitName | translate }}</td>
                  <td>{{musterList.unitName}}</td>
                  <td>{{ musterList.unitType | translate }}</td>
                  <td>{{musterList.title}}</td>
                  <td><a [routerLink]="['./', musterList?.id]">{{musterList.referenceCode}}</a></td>
                  <td>{{musterList.entriesCount}}</td>
                  <td *ngIf="mleId">
                    <button type="button" class="btn-success btn-sm btn" (click)="selectForCopy(musterList.id)" *ngIf="musterList.id != mlid">
                      <i class="fa fa-check"></i>
                    </button>
                  </td>
                </tr>
                </tbody>
            </table>
        </div>
  </div>
  <!-- Table pagination -->
  <div class="row form-inline">
    <app-pagination-control *ngIf="pagedResult"
      (submitChangeSize)="changeSize($event)"
      (submitPageChange)="search($event)"
      [firstRecord]="firstRecord()"
      [lastRecord]="lastRecord()"
      [numOfRecords]="pagedResult?.totalElements"
      [pageNumber]="pageNumber">
    </app-pagination-control>

    <div class="col-md-2 clearfix">
      <div class="align-with-pagination">
        <a [routerLink]="['form']" class="btn btn-success pull-right" role="button">
          <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add new muster list
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->
