/* You can add global styles to this file, and also import other style files */

.thead-inverse th {
  background-color: #494b5c;
  color: white;
  border-bottom: none !important;
}

thead.thead-inverse > tr > th > a {
  color: inherit !important;
  display: block;
  text-decoration: none;
}

.align-with-pagination {
  margin: 20px 0;
}
