<form role="form" [formGroup]="userForm">
  <fieldset>
    <!-- username -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.username" *ngIf="formSettings.controlVisible.username"
              [class.has-error]="!userForm.controls['username'].valid && userForm.controls['username'].touched">
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" placeholder="Desired username" formControlName="username"
             value="{{userForm.value.username}}"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['username'].hasError('required') && userForm.controls['username'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>
      <div *ngIf="userForm.controls['username'].hasError('maxLength') && userForm.controls['username'].touched"
           class="alert alert-danger">{{ 'error.field.username.max-lenght' | translate }}
      </div>
      <div *ngIf="userForm.controls['username'].hasError('minLength') && userForm.controls['username'].touched"
           class="alert alert-danger">{{ 'error.field.username.min-lenght' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('username')"
                              [fieldErrors]="serverErrors.get('username')"></field-validation-error>
    </fieldset>

    <!-- First Name -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.firstName" *ngIf="formSettings.controlVisible.firstName"
              [class.has-error]="!userForm.controls['firstName'].valid && userForm.controls['firstName'].touched">
      <label for="firstName">First name:</label>
      <input type="text" name="firstName" id="firstName" class="form-control" formControlName="firstName"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['firstName'].hasError('required') && userForm.controls['firstName'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>
      <div *ngIf="userForm.controls['firstName'].hasError('maxLength') && userForm.controls['firstName'].touched"
           class="alert alert-danger">{{ 'error.field.max-lenght40' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('firstName')"
                              [fieldErrors]="serverErrors.get('firstName')"></field-validation-error>
    </fieldset>

    <!-- Last Name -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.lastName" *ngIf="formSettings.controlVisible.lastName"
              [class.has-error]="!userForm.controls['lastName'].valid && userForm.controls['lastName'].touched">
      <label for="lastName">Last name:</label>
      <input type="text" name="lastName" id="lastName" class="form-control" formControlName="lastName"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['lastName'].hasError('required') && userForm.controls['lastName'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>
      <div *ngIf="userForm.controls['lastName'].hasError('maxLength') && userForm.controls['lastName'].touched"
           class="alert alert-danger">{{ 'error.field.max-lenght40' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('lastName')"
                              [fieldErrors]="serverErrors.get('lastName')"></field-validation-error>
    </fieldset>
    <hr/>
    <!-- Address -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.address" *ngIf="formSettings.controlVisible.address"
              [class.has-error]="!userForm.controls['address'].valid && userForm.controls['address'].touched">
      <label for="address">Address:</label>
      <input type="text" placeholder="Street, house number" name="address" id="address" class="form-control"
             formControlName="address"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['address'].hasError('required') && userForm.controls['address'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>
      <div *ngIf="userForm.controls['address'].hasError('maxLength') && userForm.controls['address'].touched"
           class="alert alert-danger">{{ 'error.field.max-lenght80' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('address')"
                              [fieldErrors]="serverErrors.get('address')"></field-validation-error>
    </fieldset>

    <!-- Postal Code -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.postalCode" *ngIf="formSettings.controlVisible.postalCode"
              [class.hass-error]="{'has-error':!userForm.controls['postalCode'].valid && userForm.controls['postalCode'].touched}">
      <label for="postalCode">Postal code:</label>
      <input type="text" class="form-control" name="postalCode" id="postalCode" formControlName="postalCode"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['postalCode'].hasError('required') && userForm.controls['postalCode'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>
      <div *ngIf="userForm.controls['postalCode'].hasError('maxLength') && userForm.controls['postalCode'].touched"
           class="alert alert-danger">{{ 'error.field.max-lenght20' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('postalCode')"
                              [fieldErrors]="serverErrors.get('postalCode')"></field-validation-error>
    </fieldset>

    <!-- Place -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.place" *ngIf="formSettings.controlVisible.place"
              [class.has-error]="!userForm.controls['place'].valid && userForm.controls['place'].touched">
      <label for="place">Place:</label>
      <input type="text" class="form-control" name="place" id="place" formControlName="place"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['place'].hasError('required') && userForm.controls['place'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>
      <div *ngIf="userForm.controls['place'].hasError('maxLength') && userForm.controls['place'].touched"
           class="alert alert-danger">{{ 'error.field.max-lenght80' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('place')"
                              [fieldErrors]="serverErrors.get('place')"></field-validation-error>
    </fieldset>

    <!-- Country -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.countryCode" *ngIf="formSettings.controlVisible.countryCode"
              [class.has-error]="!userForm.controls['countryCode'].valid && userForm.controls['countryCode'].touched">
      <label for="countryCode">Country:</label>
      <select name="countryCode" id="countryCode" formControlName="countryCode">
        <option *ngFor="let country of countries" [value]="country.code">{{ country.name}}</option>
      </select>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['countryCode'].hasError('required') && userForm.controls['countryCode'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('countryCode')"
                              [fieldErrors]="serverErrors.get('countryCode')"></field-validation-error>
    </fieldset>

    <hr/>

    <!-- Email -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.email" *ngIf="formSettings.controlVisible.email"
              [class.hass-error]="!userForm.controls['email'].valid && userForm.controls['email'].touched">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" name="email" id="email" formControlName="email"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['email'].hasError('required') && userForm.controls['email'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>
      <div *ngIf="userForm.controls['email'].hasError('email') && userForm.controls['email'].touched"
           class="alert alert-danger">{{ 'error.field.email-invalid' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('email')"
                              [fieldErrors]="serverErrors.get('email')"></field-validation-error>
    </fieldset>

    <!-- Mobile -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.mobile" *ngIf="formSettings.controlVisible.mobile"
              [class.has-error]="!userForm.controls['mobile'].valid && userForm.controls['mobile'].touched">
      <label for="mobile">Mobile:</label>
      <input type="text" class="form-control" name="mobile" id="mobile" formControlName="mobile"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['mobile'].hasError('required') && userForm.controls['mobile'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('mobile')"
                              [fieldErrors]="serverErrors.get('mobile')"></field-validation-error>
    </fieldset>

    <!-- Telephone -->
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.phone" *ngIf="formSettings.controlVisible.phone"
              [ngClass]="{'has-error':!userForm.controls['phone'].valid && userForm.controls['phone'].touched}">
      <label for="phone">Telephone:</label>
      <input type="text" class="form-control" name="phone" id="phone" formControlName="phone"/>

      <!-- client side validations -->
      <div *ngIf="userForm.controls['phone'].hasError('required') && userForm.controls['phone'].touched"
           class="alert alert-danger">{{ 'error.field.requiered' | translate }}
      </div>

      <!-- server side validations -->
      <field-validation-error *ngIf="serverErrors && serverErrors.get('phone')"
                              [fieldErrors]="serverErrors.get('phone')"></field-validation-error>
    </fieldset>

    <!--fieldset class="form-group" [disabled]="formSettings.controlDisabled.password" *ngIf="formSettings.controlVisible.password"
              [class.hass-error]="!userForm.controls['password'].valid && userForm.controls['password'].touched">
      <label for="password">Old password:</label>
      <input type="password" class="form-control" name="password" id="password" formControlName="password">
    </fieldset>
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.password" *ngIf="formSettings.controlVisible.password"
              [class.hass-error]="!userForm.controls['password2'].valid && userForm.controls['password2'].touched">
      <label for="password2">New password:</label>
      <input type="password" class="form-control" name="password2" id="password2" formControlName="password2">
    </fieldset>
    <fieldset class="form-group" [disabled]="formSettings.controlDisabled.password" *ngIf="formSettings.controlVisible.password"
                         [class.hass-error]="!userForm.controls['password2Again'].valid && userForm.controls['password2Again'].touched && userForm.controls['password2Again'].errors['notEquivalent']">
      <label for="password2Again">Repeat password:</label>
      <input type="password" class="form-control" name="password2Again" id="password2Again" formControlName="password2Again">
    </fieldset-->

  </fieldset>

  <!-- Form Buttons -->
  <div class="pull-right">
    <button type="button" [disabled]="!userForm.valid || formSettings.submitButtonDisabled" (click)="submit()"
            class="btn btn-primary">
      <i [attr.class]="formSettings.submitBtnIcon" aria-hidden="true"></i> {{formSettings.submitBtnText}}
    </button>
  </div>
</form>

