<div>
  <br>
  <div class="row vertical-align-box">
    <div cg-busy="{promise:signIn.loading,message:'Loading',backdrop:false,minDuration:1000}"></div>
    <div class="col-lg-6 col-lg-offset-3">
      <alert ng-show="signIn.showAlert" type="danger" close="signIn.dismissAlert()">
        <strong>Your session is no longer valid! Please sign in!</strong>
      </alert>
      <alert ng-show="signIn.noUsername" type="danger" close="signIn.dismissAlert()">
        <strong>Please enter a username.</strong>
      </alert>
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" role="form" name="signInForm">
            <fieldset ng-disabled="signIn.disableControls">
              <p class="text-danger text-center" ng-show="signIn.invalidCredentials">Invalid username or password</p>
              <div class="form-group" ng-class="{'has-error': (signInForm.username.$dirty && signInForm.username.$error.required) || signIn.invalidCredentials}">
                <label class="col-lg-3 control-label" for="username">User ID</label>
                <div class="col-lg-7">
                  <input class="form-control" type="text" name="username" id="username" ng-model="signIn.username"
                         placeholder="Username" required/>
                  <span ng-messages="signInForm.username.$error" ng-show="signInForm.username.$dirty  && signInForm.username.$invalid">
                    <span class="text-danger" ng-message="required">Please enter your username!</span>
                  </span>
                </div>
              </div>
              <div class="form-group" ng-class="{'has-error': (signInForm.password.$dirty && signInForm.password.$error.required) || signIn.invalidCredentials}">
                <label class="col-lg-3 control-label" for="password">Password</label>
                <div class="col-lg-7">
                  <input class="form-control" type="password" name="password" id="password" ng-model="signIn.password"
                         placeholder="Password" required/>
                  <span ng-messages="signInForm.password.$error" ng-show="signInForm.password.$dirty && signInForm.password.$invalid">
                    <span class="text-danger" ng-message="required">Please fill in password!</span>
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label" for="rememberMe">Remember me</label>
                <div class="col-lg-7">
                  <input type="checkbox" ng-model="signIn.rememberMe" id="rememberMe" name="rememberMe">
                </div>
              </div>
              <div class="form-group">
                <div class="col-lg-7 col-lg-offset-3">
                  <button type="submit" class="btn btn-default col-lg-5" ng-click="signInForm.$valid ? signIn.confirm(signIn.username, signIn.password, signIn.rememberMe) : ''">Log In
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
