<div class="panel panel-defauld">
  <div class="panel-body">
    <div class="wizzard-steps">
      <div class="wizzard-step" *ngFor="let key of stepKeys; let i = index"
           [class.active]="i == currentStep - startingStep"
           [class.done]="i < currentStep - startingStep">
        Step {{i+1}}
      </div>
    </div>
    <div class="wizzard-message">
      {{currentStepMessage}}
    </div>
    <hr>
    <ng-content></ng-content>
  </div>
</div>
