.wizzard-panel {
  padding: 20px;
  text-align:center;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 6px;
  box-shadow: 0px 0px 4px 0.3px #888888;
}
.wizzard-steps{
  display: flex;
}
.wizzard-step {
  font-size: 25px;
  flex: 1;
  border-bottom: 8px solid #DDD;
  color: #BBB;
}
.wizzard-progress{
  display: flex;
}
.active {
  border-bottom: 8px solid  #1976D2 !important;
  font-weight: bold;
  color: inherit;
}

.done {
  border-bottom: 8px solid  #57a2ea !important;
  color: inherit;
}


.wizzard-message {
  margin-top: 10px;
  font-size: 30px;
}

.wizzard-message > h3 {

}
