<div class="col-md-4">
  <pagination-template #p="paginationApi" id="custom" (pageChange)="newPage($event)">
    <nav>
      <ul class="pagination">
        <li class="page-item" [class.disabled]="p.isFirstPage()">
          <a class="page-link" href="javascript:void(0);" (click)="!p.isFirstPage() && p.previous()" type="button"> <span aria-hidden="true">&laquo;</span> </a>
        </li>
        <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
          <a class="page-link" href="javascript:void(0);" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value" type="button">
            {{ page.label }}
          </a>
          <a class="page-link" href="javascript:void(0);" *ngIf="p.getCurrent() === page.value" type="button">
            {{ page.label }}
          </a>
        </li>
        <li class="page-item" [class.disabled]="p.isLastPage()">
          <a class="page-link" href="javascript:void(0);" (click)="!p.isLastPage() && p.next()" type="button"> <span aria-hidden="true">&raquo;</span> </a>
        </li>
      </ul>
    </nav>
  </pagination-template>
</div>
<div class="col-md-4">
  <div class="align-with-pagination">
    <span>Records {{firstRecord}} - {{lastRecord}} of total of {{numOfRecords}} records.</span>
  </div>
</div>
<div class="col-md-2">
  <div class="align-with-pagination">
    <label for="size">Page size:&nbsp;</label>
    <select #size id="size" class="form-control" (change)="changeSize(size.value)">
      <option *ngFor="let pageSize of pageSizes" [attr.value]="pageSize.size" [attr.selected]="(pageSize.selected || pageSize.size == initPageSize)? true : null">{{pageSize.size}}
      </option>
    </select>
  </div>
</div>
