<div class="modal fade" bsModal #confirmModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog"
     aria-labelledby="confirmModal" aria-hidden="true">

  <div class="modal-dialog modal-md" *ngIf="targetPerson && sourcePerson">
    <div class="modal-content">
      <div class="modal-header">
        <h2>Please confirm merge action</h2>
      </div>
      <div class="modal-body">
        <p class="bigger-text">Person: {{sourcePerson.firstName + ' ' + sourcePerson.lastName}} [id:{{sourcePerson.id}}] will be deleted.<br></p>
        <p>
        All muster list entries from {{sourcePerson.firstName + ' ' + sourcePerson.lastName}} [id:{{sourcePerson.id}}] will be transfered to {{targetPerson.firstName + ' ' + targetPerson.lastName}}
          [id: {{targetPerson.id}}].
        </p>
        <alert type="warning">
        <p>
          Any duplicate muster list entries (entries in the same muster list) assigned to <strong>{{sourcePerson.firstName + ' ' + sourcePerson.lastName}} [id:{{sourcePerson.id}}]</strong>
          will be deleted and muster list entry assigned to <strong>{{targetPerson.firstName + ' ' + targetPerson.lastName}}
          [id: {{targetPerson.id}}]</strong> will be preserved.
        </p>
        </alert>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="cancel()">
          <i class="fa fa-times"></i> Close
        </button>
        <button class="btn btn-primary" (click)="confirm()">
          <i class="fa fa-check"></i> Confirm
        </button>
      </div>
    </div>
  </div>
</div>
