<div *ngIf="user" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2 class="page-header">
                Profile: {{user.firstName}} {{user.lastName}}
              <span class="pull-right btn-group">
                <a [routerLink]="['edit']" class="btn btn-primary ">
                      <i class="fa fa-pencil" aria-hidden="true"></i> Edit Personal data
                </a>
                <button type="button" class="btn btn-primary" (click)="showModal()">
                    <i class="fa fa-lock" aria-hidden="true"></i> Edit Password
                </button>
              </span>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <h4>Account details</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><span class="pull-right">Avatar:</span></div>
                <div class="col-md-9">
                    <gravatar email="{{user.email}}" size="64"></gravatar>
                    <a href="http://www.gravatar.com">Change or set your Avatar</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"><span class="pull-right">Username:</span></div>
                <div class="col-md-9"><strong>{{user.username}}</strong></div>
            </div>
            <div class="row">
                <div class="col-md-3"><span class="pull-right">email:</span></div>
                <div class="col-md-9"><strong>{{user.email}}</strong></div>
            </div>
            <hr/>
            <h4>Address</h4>
            <address>
                {{user.address}}
                <br>{{user.postalCode}} {{user.place}}
                <br>{{user.countryName}} ({{user.countryCode}})
                <br>
            </address>
            <hr/>
            <h4>Contact information</h4>
            <address>
                <strong>Telephone</strong>
                <br>{{user.phone}}
                <br>
                <strong>Mobile</strong>
                <br>{{user.mobile}}
            </address>
        </div>
        <div class="col-md-7">
            <h4>Granted Authorities</h4>
            <ul>
                <li *ngFor="let role of user.roles">{{role.id}} - {{role.name}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #passwordModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <form *ngIf="passwordForm" [formGroup]="passwordForm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Change passsword</h4>
        </div>

        <div class="modal-body">
          <div class="well-sm text-muted">
            Password must be at least 6 characters long, it has to contain one upper case letter, one lower case letter and one number.
            Password can contain only english alphanumeric characters.
          </div>
          <fieldset class="form-group" [class.has-error]="!passwordForm.controls['oldPassword'].valid && passwordForm.controls['oldPassword'].touched">
            <label for="oldPassword" class="control-label">Old password:</label>
            <input id="oldPassword" type="password" formControlName="oldPassword" class="form-control">
            <div *ngIf="passwordForm.controls['oldPassword'].hasError('required') && passwordForm.controls['oldPassword'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
            <div *ngIf="passwordForm.controls['oldPassword'].hasError('maxLength') && passwordForm.controls['oldPassword'].touched" class="alert alert-danger">{{ 'error.field.maxLength60' | translate }}</div>
            <div *ngIf="passwordForm.controls['oldPassword'].hasError('minLength') && passwordForm.controls['oldPassword'].touched" class="alert alert-danger">{{ 'error.field.minLength5' | translate }}</div>
            <field-validation-error *ngIf="serverErrors && serverErrors.get('oldPassword')" [fieldErrors]="serverErrors.get('oldPassword')" ></field-validation-error>
          </fieldset>
          <fieldset class="form-group" [class.has-error]="!passwordForm.controls['password'].valid && passwordForm.controls['password'].touched">
            <label for="password" class="control-label">New password:</label>
            <input id="password" type="password" formControlName="password" class="form-control">
            <div *ngIf="passwordForm.controls['password'].hasError('required') && passwordForm.controls['password'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
            <div *ngIf="passwordForm.controls['password'].hasError('maxLength') && passwordForm.controls['password'].touched" class="alert alert-danger">{{ 'error.field.maxLength60' | translate }}</div>
            <div *ngIf="passwordForm.controls['password'].hasError('minLength') && passwordForm.controls['password'].touched" class="alert alert-danger">{{ 'error.field.minLength5' | translate }}</div>
            <div *ngIf="passwordForm.controls['password'].hasError('pattern') && passwordForm.controls['password'].touched" class="alert alert-danger">{{ 'error.field.password.pattern' | translate }}</div>
            <field-validation-error *ngIf="serverErrors && serverErrors.get('password')" [fieldErrors]="serverErrors.get('password')" ></field-validation-error>
          </fieldset>
          <fieldset class="form-group" [class.has-error]="passwordForm.controls['password2'].hasError('notEquivalent') && passwordForm.controls['password2'].touched">
            <label for="password2" class="control-label">Repeat new password:</label>
            <input id="password2" type="password" formControlName="password2" class="form-control">
            <div *ngIf="passwordForm.controls['password2'].hasError('required') && passwordForm.controls['password2'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
            <div *ngIf="passwordForm.controls['password2'].hasError('maxLength') && passwordForm.controls['password2'].touched" class="alert alert-danger">{{ 'error.field.maxLength60' | translate }}</div>
            <div *ngIf="passwordForm.controls['password2'].hasError('minLength') && passwordForm.controls['password2'].touched" class="alert alert-danger">{{ 'error.field.minLength5' | translate }}</div>
            <div *ngIf="passwordForm.controls['password2'].hasError('notEquivalent') && passwordForm.controls['password2'].touched" class="alert alert-danger">{{ 'error.field.password.dont.match' | translate }}</div>
            <div *ngIf="passwordForm.controls['password2'].hasError('pattern') && passwordForm.controls['password2'].touched" class="alert alert-danger">{{ 'error.field.password.pattern' | translate }}</div>
            <field-validation-error *ngIf="serverErrors && serverErrors.get('password2')" [fieldErrors]="serverErrors.get('password2')" ></field-validation-error>
          </fieldset>
        </div>

        <div class="modal-footer">
          <button class="btn btn-danger" type="button" (click)="hideModal()">Cancel</button>
          <button class="btn btn-primary" type="button" (click)="submit()" [disabled] = "!passwordForm.valid || btnDisabled">
            <i [class]="profession != null ? 'fa fa-pencil' : 'fa fa-floppy' "></i>{{profession != null ? 'Edit' : 'Save'}}
          </button>

        </div>
      </div>
    </form>
  </div>
</div>
