<div class="row">
  <div class="col-lg-9">
    <h1 class="page-header">Person details: [ Id : {{prsDetailsCtrl.person.id}} ]</h1>
  </div>
  <div class="col-lg-3">
      <p>
       <br/>   
        <button type="button" class="btn btn-primary" 
            ng-disabled="prsDetailsCtrl.isEditDisabled"
            ng-click="prsDetailsCtrl.editPerson()">
            Edit Person 
        </button>
      </p>  
  </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <p>First name (standardized): <strong>{{prsDetailsCtrl.person.firstName}}</strong></p>
        <p>Last name (standardized): <strong>{{prsDetailsCtrl.person.lastName}}</strong></p>
        <p>Place of birth: <strong>{{prsDetailsCtrl.person.placeOfBirth}}</strong></p>
        <p>Sources last names: <strong>{{prsDetailsCtrl.person.sourcesLastNames}}</strong></p>
        <p>Sources first names: <strong>{{prsDetailsCtrl.person.sourcesFirstNames}}</strong></p>
        <p>Note:<br/><br/>
        {{prsDetailsCtrl.person.note}}
        </p>
    </div>
</div>
<!-- Muster List Entries Table -->
<div class="row" ng-show="prsDetailsCtrl.dataLoded">
  <div class="col-lg-12">
    <br/>
    <div loading-container="prsDetailsCtrl.tableParams.settings().$loading">
    <table ng-table="prsDetailsCtrl.tableParams" class="table table-condensed table-bordered table-striped table-muster-list-entries">
      <tr ng-repeat="mle in $data">
        <td data-title="'Muster list [yyyy/m]'">{{mle.musterList.year}}/{{mle.musterList.month}}</td>
        <td data-title="'#'">{{mle.listNumber}}</td>
        <td data-title="'Person'">{{mle.firstName}} {{mle.lastName}} von {{mle.person.placeOfBirth}}</td>
        <td data-title="'Rank'">{{mle.rank.code}}</td>
        <td data-title="'Age'">{{mle.age}}</td>
        <td data-title="'Places'">{{mle.location}} / {{mlw.houseNumber}}</td>
        <td data-title="'Religion'">{{mle.religion.code}}</td>
        <td data-title="'Profession'">{{mle.profession.code}}</td>
        <td data-title="'Married'">{{mle.maritalStatus}}</td>
        <td data-title="'Service record'">
          <div ng-repeat="serviceRecord in mle.serviceRecords">
              <div class="col-lg-8">{{serviceRecord.description}}</div>
              <div class="col-lg-1">{{serviceRecord.durationYears}}</div>
              <div class="col-lg-1">{{serviceRecord.durationMonths}}</div>
              <div class="col-lg-1">{{serviceRecord.durationDays}}</div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
<div class="row" >
  <div class="col-lg-2">
    <p>   
      <button type="button" class="btn btn-default" 
        ng-click="prsDetailsCtrl.backToSearchResults()">
        Back to person search 
      </button>
    </p>
  </div>
</div>
