<br/>
<div class="row" >
  <div class="col-lg-10">
    <!-- put some info concerning the origin here / may breadcrumbs? -->
  </div>
  <div class="col-lg-2">
    <p>   
      <button type="button" class="btn btn-default" 
        ng-show="prsCtrl.showBackToMle"
        ng-click="prsCtrl.backToMusterListEntryForm()">
        Back to muster list entry 
      </button>
    </p>
  </div>
</div>
<!-- Person Search Form -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline" name="searchForm">
        <div class="form-group">
          <label for="firstName">First name: </label>
          <input type="text" class="form-control"
                   name="firstName"
                   id="firstName"
                   placeholder="First name"
                   ng-model="prsCtrl.searchParams.firstName"
                   ng-required="!(prsCtrl.searchParams.firstName.length || prsCtrl.searchParams.lastName.length)"
            />
        </div>
        <div class="form-group">
          <label for="lastName">Last name: </label>
          <input type="text" class="form-control"
                   name="lastName"
                   id="lastName"
                   placeholder="Last name"
                   ng-model="prsCtrl.searchParams.lastName"
                   ng-required="!(prsCtrl.searchParams.firstName.length || prsCtrl.searchParams.lastName.length)"
            />
        </div>
        <button type="submit"
          class="btn btn-primary"
          ng-disabled="searchForm.$invalid"
          ng-click="prsCtrl.searchPersons()"
          required>Search
        </button>
      </form>
      <div class="row">
        <!-- display errors here -->
      </div>
    </div>
  </div>
</div>

<div class="row vertical-align-box" ng-show="!prsCtrl.dataLoded">
  <div class="col-lg-12">
    <div class="bs-callout bs-callout-info">
      <h4>Person entites</h4>
      <p>Description of person attributes ... please first try searching for the person that matches your source before creating new entity.</p>
      <br/>
    </div>
  </div>
</div>

<div class="row" ng-show="prsCtrl.dataLoded">
  <div class="col-lg-12">
  <div loading-container="prsCtrl.tableParams.settings().$loading">
    <table ng-table="prsCtrl.tableParams" class="table table-condensed table-bordered table-striped">
      <tr ng-repeat="person in $data">
        <td data-title="'#'">{{person.id}}</td>
        <td data-title="'First name'">{{person.firstName}}</td>
        <td data-title="'Last name'">{{person.lastName}}</td>
        <td data-title="'Place of birth'">{{person.placeOfBirth}}</td>
        <td data-title="'Source first names'">{{person.sourcesFirstNames}}</td>
        <td data-title="'Source last names'">{{person.sourcesLastNames}}</td>
        <td>
          <button uib-tooltip-html="'Select this person and return'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
              ng-show="prsCtrl.showSelectButton" type="button" class="btn btn-success" aria-label="Select this person and return"
              ng-click="prsCtrl.selectPerson(person)">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <!-- button remove Row -->
            <button uib-tooltip-html="'View person details'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
              type="button" class="btn btn-info" aria-label="Person details"
              ng-click="prsCtrl.showDetails(person.id)">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>