<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">UNKNOWN OR NEW SOURCE</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
    If you are not sure what source you are dealing with, plese take the following steps:
    </p>
    <p>
      <ol>
        <li>make a picture, photocopy or scan of the source,</li>
        <li>enter information required in the box below,</li>
        <li>upload the relevant file (photo, scan etc.),</li>
        <li>click on Šalji / Send,</li>
        <li>you will be contacted a.s.a.p. by the data entry coordinators after receipt of the file.</li>
      </ol>
    </p>
    <p>
      <br>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        New Source Registration Form
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-9">
            <form role="form">
              <div class="form-group">
                <label>Archive</label>
                <input class="form-control" id="archive" placeholder="Archive">
              </div>
              <div class="form-group">
                <label>Fond</label>
                <input class="form-control" id="fond" placeholder="Fond">
              </div>
              <div class="form-group">
                <label>Box</label>
                <input class="form-control" id="box" placeholder="Box">
              </div>
              <div class="form-group">
                <label>File input</label>
                <input type="file" id="selectedFile">
              </div>
              <div class="form-group">
                <label>Comments</label>
                <textarea class="form-control" id="comments" rows="6"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit Button</button>
              <button type="reset" class="btn btn-default">Reset Button</button>
            </form>
          </div>
          <!-- /.col-lg-6 (nested) -->
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
