    <div class="navbar-default sidebar" role="navigation">
      <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
          <li><a [routerLink]="['dashboard']" [routerLinkActive]="['active']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
          <li>
            <a href="#"><i class="fa fa-fort-awesome fa-fw"></i> Military Frontier<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a href="#">Muster rolls <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                  <li><a [routerLink]="['military-frontier/musterlists']" [routerLinkActive]="['active']">Muster listen</a></li>
                  <li><a [routerLink]="['military-frontier/monathtable']" [routerLinkActive]="['active']">Monath tabellen</a></li>
                  <li><a [routerLink]="['military-frontier/standestable']" [routerLinkActive]="['active']">Standes tabellen</a></li>
                </ul>
                <!-- /.nav-third-level -->
              </li>
            </ul>
            <!-- /.nav-second-level -->
            <ul class="nav nav-second-level">
              <li><a [routerLink]="['military-frontier/partishregister']" [routerLinkActive]="['active']">Parish registers</a></li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-anchor fa-fw"></i> Venetian Dalmatia and Albania<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a [routerLink]="['venetian-dalmatia-and-albania/musterlists']" [routerLinkActive]="['active']">Muster lists</a>
              </li>
              <li>
                <a [routerLink]="['venetian-dalmatia-and-albania/parishregisters']" [routerLinkActive]="['active']">Parish registers</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#"><i class="fa fa-ship fa-fw"></i> Republlic of Ragusa<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <a [routerLink]="['republic-of-ragusa/musterlists']" [routerLinkActive]="['active']">Muster lists</a>
              </li>
              <li>
                <a [routerLink]="['republic-of-ragusa/parishregisters']" [routerLinkActive]="['active']">Parish registers</a>
              </li>
            </ul>
          </li>
          <li><a [routerLink]="['/main/persons']" [routerLinkActive]="['active']"><i class="fa fa-user fa-fw"></i> Recorded persons</a></li>
          <li><a [routerLink]="['/main/professions']" [routerLinkActive]="['active']"><i class="fa fa-gavel fa-fw"></i> Recorded professions</a></li>
          <li><a [routerLink]="['/main/source-register']" [routerLinkActive]="['active']"><i class="fa fa-edit fa-fw"></i> Unknown source (registration)</a></li>
          <!-- mlwicbd sidebar end -->
        </ul>
      </div>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
