<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <li ui-sref-active="active">
                <a ui-sref="app.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li ng-class="{active: collapseVar==1}">
              <a href="" ng-click="check(1)"><i class="fa fa-fort-awesome fa-fw"></i> Military Frontier<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level" collapse="collapseVar!= 1">
                <li ng-init="first=!first" ng-class="{active: multiCollapseVar==1}">
                  <a href="" ng-click="multiCheck(1)">Muster rolls<span class="fa arrow"></span></a>
                  <ul class="nav nav-third-level" collapse="multiCollapseVar!=1">
                    <li>
                      <a ui-sref="musterList-home">Muster Listen</a>
                    </li>
                    <li>
                      <a href="">Monath Tabellen</a>
                    </li>
                    <li>
                      <a href="">Standes Tabellen</a>
                    </li>
                  </ul>
                </li>
                <li ng-init="second=!second" ng-class="{active: multiCollapseVar==2}">
                <a href="" ng-click="multiCheck(2)">Parish registers <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level" collapse="multiCollapseVar!=2">
                  <li>
                    <a href="">Births & Baptisms</a>
                  </li>
                  <li>
                    <a href="">Marriages</a>
                  </li>
                  <li>
                    <a href="">Deaths & Burrials</a>
                  </li>
                  <li>
                    <a href="">Stack link</a>
                  </li>

                </ul>
                <!-- /.nav-third-level -->
              </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==2}">
              <a href="" ng-click="check(2)"><i class="fa fa-anchor fa-fw"></i> Venetian Dalmatia and Albania<span class="fa arrow"></span></a>
              <ul class="nav nav-second-level" collapse="collapseVar!= 2">
                <li ng-init="first=!first" ng-class="{active: multiCollapseVar==3}">
                <a href="" ng-click="multiCheck(3)">Muster rolls<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                  <li>
                    <a href="">Muster Listen</a>
                  </li>
                  <li>
                    <a href="">Monath Tabellen</a>
                  </li>
                  <li>
                    <a href="">Standes Tabellen</a>
                  </li>
                </ul>
                </li>
                <li ng-init="second=!second" ng-class="{active: multiCollapseVar==4}">
                <a href="" ng-click="multiCheck(4)">Parish registers <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level" collapse="multiCollapseVar!=4">
                  <li>
                    <a href="">Births & Baptisms</a>
                  </li>
                  <li>
                    <a href="">Marriages</a>
                  </li>
                  <li>
                    <a href="">Deaths & Burrials</a>
                  </li>
                  <li>
                    <a href="">Stack link</a>
                  </li>
                  <li>
                    <a href="">Nav link</a>
                  </li>
                </ul>
                <!-- /.nav-third-level -->
              </li>
              </ul>
              <!-- /.nav-second-level -->
            </li>
            <li ng-class="{active: collapseVar==3}">
            <a href="" ng-click="check(3)"><i class="fa fa-ship fa-fw"></i> Republic of Dubrovnik<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level" collapse="collapseVar!= 3">
              <li ng-init="first=!first" ng-class="{active: multiCollapseVar==5}">
                <a href="" ng-click="multiCheck(5)">Muster rolls<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level" collapse="multiCollapseVar!=5">
                  <li>
                    <a href="">Muster Listen</a>
                  </li>
                  <li>
                    <a href="">Monath Tabellen</a>
                  </li>
                  <li>
                    <a href="">Standes Tabellen</a>
                  </li>
                </ul>
              </li>
              <li ng-init="second=!second" ng-class="{active: multiCollapseVar==6}">
                <a href="" ng-click="multiCheck(6)">Parish registers <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level" collapse="multiCollapseVar!=6">
                  <li>
                    <a href="">Births & Baptisms</a>
                  </li>
                  <li>
                    <a href="">Marriages</a>
                  </li>
                  <li>
                    <a href="">Deaths & Burrials</a>
                  </li>
                  <li>
                    <a href="">Stack link</a>
                  </li>
                </ul>
                <!-- /.nav-third-level -->
              </li>
            </ul>
            <!-- /.nav-second-level -->
            </li>
            <li ui-sref-active="active">
                <a ui-sref="person-home"><i class="fa fa-user fa-fw"></i> Recorded Persons</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.source-register"><i class="fa fa-edit fa-fw"></i> Unknown Source (registration)</a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>



