<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title">Service record form [{{srModalCtl.serviceRecord.id}}]</h3>
  </div>
  <form class="ng-scope form-horizontal" name="srForm" id="srForm">
    <div class="modal-body">
      <div class="container-fluid">
        <fieldset>
          <!-- Description -->
          <div class = "form-group">
            <label class="col-md-3 control-label ng-binding" for="description">Description:</label>
            <div class="col-md-7" ng-class="{'has-error' : (srForm.description.$invalid && !srForm.description.$pristine)}">
              <textarea name="description" id="description" class="ng-pristine ng-untouched ng-valid ng-valid-required form-control"
                  ng-minlength="10"
                  ng-maxlength="255" 
                  columns="80"
                  rows="5"
                  ng-model="srModalCtl.serviceRecord.description"></textarea>
              <p class="help-block" ng-show="srForm.description.$error.required && !srForm.description.$pristine">Service record desription is requiered.</p>
              <p class="help-block" ng-show="srForm.description.$error.maxlength && !srForm.description.$pristine">Service record desription may not be more than 255 charachters long.</p>
            </div>
          </div>

          <!-- years of service -->
          <div class = "form-group">
            <label class="col-md-3 control-label ng-binding" for="durationYears">Service years:</label>
            <div class="col-md-7" ng-class="{'has-error' : (srForm.durationYears.$invalid && !srForm.durationYears.$pristine)}">
              <input type="text" class="form-control" name="durationYears" id="durationYears"
                   ng-pattern="/^(\d)+$/"
                   ng-model="srModalCtl.serviceRecord.durationYears"
                   ng-minlength="1"
                   ng-maxlength="2"
                   required
              />
              <span class="text-danger" ng-show="srForm.durationYears.$dirty  && srForm.durationYears.$invalid && srForm.durationYears.$error.required">Please enter years of service!</span>
              <span class="text-danger" ng-show="srForm.durationYears.$dirty  && srForm.durationYears.$invalid && srForm.durationYears.$error.minlength || srForm.durationYears.$error.maxlength || srForm.durationYears.$error.pattern" >Entered year must be max 2 numbers long!</span>
            </div>
          </div>
          <!-- months of service -->
          <div class = "form-group">
            <label class="col-md-3 control-label ng-binding" for="durationMonths">Service months:</label>
            <div class="col-md-7" ng-class="{'has-error' : (srForm.durationMonths.$invalid && !srForm.durationMonths.$pristine)}">
              <input type="text" class="form-control" name="durationMonths" id="durationMonths"
                   ng-pattern="/^(\d)+$/"
                   ng-model="srModalCtl.serviceRecord.durationMonths"
                   ng-minlength="1"
                   ng-maxlength="2"
                   required
              />
              <span class="text-danger" ng-show="srForm.durationMonths.$dirty  && srForm.durationMonths.$invalid && srForm.durationMonths.$error.required">Please enter months of service!</span>
              <span class="text-danger" ng-show="srForm.durationMonths.$dirty  && srForm.durationMonths.$invalid && srForm.durationMonths.$error.minlength || srForm.durationMonths.$error.maxlength || srForm.durationMonths.$error.pattern" >Entered month must be between 1 - 12</span>
            </div>
          </div>
          <!-- days of service -->  
          <div class = "form-group">
            <label class="col-md-3 control-label ng-binding" for="durationDays">Service days:</label>
            <div class="col-md-7" ng-class="{'has-error' : (srForm.durationDays.$invalid && !srForm.durationDays.$pristine)}">
              <input type="text" class="form-control" name="durationDays" id="durationDays"
                  placeholder="dd/mm"
                  ng-model="srModalCtl.serviceRecord.durationDays"
                  ng-maxlength="5"
              />
              <span class="text-danger" ng-show="srForm.durationDays.$dirty  && srForm.durationDays.$invalid && srForm.durationDays.$error.maxlength" >Entered service days must be in format dd/mm</span>
            </div>
          </div>  
        </fieldset>
      </div>
    </div>
    <!-- button controls -->
    <div class="modal-footer">
      <div class="row">
        <button class="btn btn-default" type="button" ng-click="srModalCtl.close()"> Close</button>
        <button class="btn btn-primary" type="button" ng-click="srModalCtl.save()"
          ng-disabled="srForm.description.$invalid
          || srForm.durationYears.$invalid
          || srForm.durationMonths.$invalid
          || srForm.durationDays.$invalid">
          <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
        </button>
      </div>
    </div>
  </form>
</div>