<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">[{{mlDetailsCtl.ml.id}}] {{mlDetailsCtl.ml.title}} :: {{mlDetailsCtl.ml.year}} / {{mlDetailsCtl.ml.month}}</h1>
  </div>
</div>
<div class="row">
    <div class="col-lg-5">
        <p>Regiment: <b>{{mlDetailsCtl.ml.parentUnitName | translate}}</b></p>
        <p>Company: <b>{{mlDetailsCtl.ml.unitName | translate}}</b></p>
        <p>Reference: <b>{{mlDetailsCtl.ml.referenceCode}}</b></p>
        <p>Year: <b>{{mlDetailsCtl.ml.year}}</b></p>
        <p>Month: <b>{{mlDetailsCtl.ml.month}}</b></p>
    </div>
    <div class="col-lg-2">
       <button ng-disabled="mlDetailsCtl.isEditDisabled" type="button" class="btn btn-default" 
            ng-click="mlDetailsCtl.editMusterListDetails()" >
         <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit Muster list details
       </button>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-body">
              <p>Created by: <b>{{mlDetailsCtl.ml.createdBy || '-' }}</b> on <b>{{mlDetailsCtl.ml.createdDate | date: 'yyyy-MM-dd HH:mm:ss'}}</b></p>
              <p>Last modified by: <b>{{mlDetailsCtl.ml.modifiedBy || '-' }}</b> on <b>{{mlDetailsCtl.ml.modifiedDate | date: 'yyyy-MM-dd HH:mm:ss'}}</b></p>
            </div>
        </div>
    </div>
</div>
<!-- Muster List Entries Search Form -->
<div class="row">
  <div class="col-lg-10">
    <button type="button" class="btn btn-default" 
            ng-click="mlDetailsCtl.backToSearchResults()" >
         <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back to search results
     </button>
  </div>
  <div class="col-lg-1">
    <button ng-disabled="mlDetailsCtl.isNewEntryDisabled" type="button" class="btn btn-primary" 
            ng-click="mlDetailsCtl.newMusterListEntry()" >
         <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new entry
     </button>
  </div>
</div>

<!-- Muster List Entries Table -->
<div class="row" ng-show="mlDetailsCtl.dataLoded">
  <div class="col-lg-12">
    <br/>
    <div loading-container="mlDetailsCtl.tableParams.settings().$loading">
    <table ng-table="mlDetailsCtl.tableParams" class="table table-condensed table-bordered table-striped table-muster-list-entries">
      <tr ng-repeat="mle in $data">
        <td data-title="'#'">{{mle.listNumber}}</td>
        <td data-title="'Person'">{{mle.firstName}} {{mle.lastName}} von {{mle.person.placeOfBirth}}</td>
        <td data-title="'Rank'">{{mle.rank.code}}</td>
        <td data-title="'Age'">{{mle.age}}</td>
        <td data-title="'Places'">{{mle.location}} / {{mlw.houseNumber}}</td>
        <td data-title="'Religion'">{{mle.religion.code}}</td>
        <td data-title="'Profession'">{{mle.profession.code}}</td>
        <td data-title="'Married'">{{mle.maritalStatus}}</td>
        <td data-title="'Service record'">
          <div ng-repeat="serviceRecord in mle.serviceRecords">
              <div class="col-lg-9">{{serviceRecord.description}}</div>
              <div class="col-lg-1">{{serviceRecord.durationYears}}</div>
              <div class="col-lg-1">{{serviceRecord.durationMonths}}</div>
              <div class="col-lg-1">{{serviceRecord.durationDays}}</div>
          </div>
        </td>
        <td data-title="'Service [y/m]'">{{mle.totalYearsServed}} / {{mle.totalMonthsServed}}</td>
        <td>
            <button uib-tooltip-html="'Edit'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
              ng-disabled="mlDetailsCtl.isDisabledEdit" type="button" class="btn btn-primary" aria-label="Edit"
              ng-click="mlDetailsCtl.editSelectedEntry(mle.id)">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <!-- button remove Row -->
            <button uib-tooltip-html="'Delete'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
              ng-disabled="mlDetailsCtl.isDisabledEdit" type="button" class="btn btn-danger" aria-label="Remove"
              ng-click="mlDetailsCtl.deleteSelectedEntry(mle.id)">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
    <br/>
    <button ng-disabled="mlDetailsCtl.isDownloadCsvDisabled" type="button" class="btn btn-primary" 
            ng-click="mlDetailsCtl.downloadAsCsv()" >
         <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download as CSV
     </button>
     <br/>
     <br/>
  </div>
</div>    