<div class="row">
  <div class="col-lg-12">
    <h1>{{mlEntryCtl.ml.parentUnitName | translate}}, {{mlEntryCtl.ml.year}}, {{mlEntryCtl.ml.month | translate}}, Feldstand / Verwaltung</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Entry Details Form</div>
      <div class="panel-body">
        <form role="form" name="entryForm" id ="entryForm">
        <div class="row">
          <div class="col-lg-5">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Linked person entity: [{{mlEntryCtl.entryForm.person.id}}] {{mlEntryCtl.entryForm.person.firstName}} {{mlEntryCtl.entryForm.person.lastName}} / {{mlEntryCtl.entryForm.person.placeOfBirth}}</h3>
                </div>
                <div class="panel-body">
                  <div class="form-group">
                    <button type="button" class="btn btn-default" 
                      ng-click="mlEntryCtl.openPersonModal()" >
                      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Link person with this entry
                    </button>
                  </div>
                </div>
              </div>  
              <div class="form-group">
                <label>#:</label>
                <input class="form-control" id="listNumber" placeholder="Entry number" type="number" ng-model="mlEntryCtl.entryForm.listNumber">
              </div>
              <div class="form-group">
                <label>Taufname</label>
                <input class="form-control" id="firstName" placeholder="First name" type="text" ng-model="mlEntryCtl.entryForm.firstName">
              </div>
              <div class="form-group">
                <label>Zuname</label>
                <input class="form-control" id="lastName" placeholder="Last name" type="text" ng-model="mlEntryCtl.entryForm.lastName">
              </div>
              <div class="form-group">
                <label>Geburtsort</label>
                <input class="form-control" id="placeOfBirth" placeholder="Place Of Birth" type="text" ng-model="mlEntryCtl.entryForm.placeOfBirth">
              </div>
              <div class="form-group">
                <label>Charge/Rank:</label>
                <select class="form-control" id="militaryRank" name="militaryRank"
                    data-ng-options="rank.id as rank.code | translate for rank in mlEntryCtl.militaryRanks"
                    ng-model="mlEntryCtl.entryForm.rankId" 
                    required>
                    <option value="">Choose military rank ...</option>
                </select>
              </div>
              <div class="form-group">
                <label>Geburtsland</label>
                <input class="form-control" id="location" placeholder="Land of origin" type="text" ng-model="mlEntryCtl.entryForm.location">
              </div>
              <div class="form-group">
                <label>Haus No.</label>
                <input class="form-control" id="houseNumber" placeholder="House number" type="text" ng-model="mlEntryCtl.entryForm.houseNumber">
              </div>
              <div class="form-group">
                <label>Jahr alt.</label>
                <input class="form-control" id="age" placeholder="Age" type="number" ng-model="mlEntryCtl.entryForm.age">
              </div>
              <div class="form-group">
                <label>Religion</label>
                <select class="form-control" id="religion" name="religion"
                    data-ng-options="religion.id as religion.code | translate for religion in mlEntryCtl.denominations"
                    ng-model="mlEntryCtl.entryForm.religionId" 
                    required>
                    <option value="">Choose religious denomination ...</option>
                </select>
              </div>
              <div class="form-group">
                <label>Profession</label>
                <input class="form-control" id="sourceProfession" name="sourceProfession" ng-model="mlEntryCtl.entryForm.sourceProfession"  placeholder="Source Profession / Skill" type="text">
                <select class="form-control" id="professionId" name="professionId"
                    data-ng-options="profession.id as profession.code | translate for profession in mlEntryCtl.professions"
                    ng-model="mlEntryCtl.entryForm.professionId" 
                    required>
                    <option value="">Choose one of the professions/skills ...</option>
                </select>
                 <button type="button" class="btn btn-default" 
                    ng-click="mlEntryCtl.registerNewProfession()" >
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Register new profession
                  </button>
              </div>
              <div class="form-group">
                <label>Marital status:</label>
                <select class="form-control" id="martialStatusId" name="martialStatusId"
                    data-ng-options="maritalStatus.id as maritalStatus.code | translate for maritalStatus in mlEntryCtl.maritalStatuses"
                    ng-model="mlEntryCtl.entryForm.maritalStatus" 
                    required>
                    <option value="">Choose marital status ...</option>
                </select>
              </div>
              <div class="form-group">
                <label for="redRadio">Wife present:</label>
                <input id="redRadio" type="radio" ng-model="mlEntryCtl.entryForm.wifePresent" data-ng-value="true" /><br />
                <label for="greenRadio">Wife not present:</label>
                <input id="greenRadio" type="radio" ng-model="mlEntryCtl.entryForm.wifePresent" data-ng-value="false" /><br />
              </div>      
          </div>
          <div class="col-lg-7">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Height / Mass</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                    <label for="unit1">Schuh:</label>
                    <input id="unit1" id="unit1" type="number" ng-model="mlEntryCtl.entryForm.unit1" class="measureUnit"  placeholder="Foot" />
                    <label for="unit2">Zoll:</label>
                    <input id="unit2" id="unit2" type="number" ng-model="mlEntryCtl.entryForm.unit2" class="measureUnit" placeholder="inch"  />
                    <label for="unit3">Strich:</label>
                    <input id="unit3" id="unit3" type="number" ng-model="mlEntryCtl.entryForm.unit3" class="measureUnit"  placeholder=""  />
                    <br/>
                    <br/>
                    Old Austrian measures: 1 Fuss, Schuh = 12 Zoll 1 Zoll = 12 Strich / Linien 1 Strich, Linie = 2,19 mm 1 Zoll = 2,63 cm 1 Fuss, Schuh = 31,6 cm  
                  </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Service Record</h3>
              </div>
              <div class="panel-body">
                <div class="form-group">
                    <label for="totalYearsServed">Total years:</label>
                    <input id="totalYearsServed" id="totalYearsServed" type="number" ng-model="mlEntryCtl.entryForm.totalYearsServed" placeholder="Total years Served" />
                    <label for="totalMonthsServed">Total months:</label>
                    <input id="totalMonthsServed" id="totalMonthsServed" type="number" ng-model="mlEntryCtl.entryForm.totalMonthsServed" placeholder="Total months served"  />
                    <table class="table table-bordered table-striped table-service-record">
                      <thead>
                        <th>Id</th>
                        <th>Service record</th>
                        <th>Years</th>
                        <th>Months</th>
                        <th>Days</th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr ng-repeat="serviceRecord in mlEntryCtl.entryForm.serviceRecords">
                          <td>{{serviceRecord.id}}</td>
                          <td>{{serviceRecord.description}}</td>
                          <td>{{serviceRecord.durationYears}}</td>
                          <td>{{serviceRecord.durationMonths}}</td>
                          <td>{{serviceRecord.durationDays}}</td>
                          <td>
                              <!-- Button update row -->
                              <button uib-tooltip-html="'Edit service record entry'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
                                type="button" class="btn btn-primary" aria-label="Edit"
                                ng-click="mlEntryCtl.editServiceRecord($index)">
                                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                              </button>
                              <!-- button remove Row -->
                              <button uib-tooltip-html="'Delete service record entry'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
                                type="button" class="btn btn-danger" aria-label="Remove"
                                ng-click="mlEntryCtl.removeServiceRecord($index)">
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              </button>
                          </td>
                        </tr>  
                      </tbody>  
                    </table>
                    <button type="button" class="btn btn-default" ng-click="mlEntryCtl.addNewServiceRecord()">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add new service record
                    </button>
                  </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Children</h3>
              </div>
              <div class="panel-body">
                  <table class="table table-bordered table-striped">
                    <thead>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th></th>
                    </thead>
                      <tbody>
                        <tr ng-repeat="child in mlEntryCtl.entryForm.children">
                          <td>{{child.id}}</td>
                          <td>{{child.name}}</td>
                          <td>{{child.age}}</td>
                          <td>{{child.gender}}</td>
                          <td>
                              <!-- Button update row -->
                              <button uib-tooltip-html="'Edit child record'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
                                type="button" class="btn btn-primary" aria-label="Edit"
                                ng-click="mlEntryCtl.editChildRecord($index)">
                                  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                              </button>
                              <!-- button remove Row -->
                              <button uib-tooltip-html="'Delete child record'" uib-tooltip-trigger="mouseenter" tooltip-animation="false"
                                type="button" class="btn btn-danger" aria-label="Remove"
                                ng-click="mlEntryCtl.removeChildRecord($index)">
                                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                              </button>
                          </td>
                        </tr>  
                      </tbody>  
                    </table>
                    <button type="button" class="btn btn-default" ng-click="mlEntryCtl.addNewChildRecord()">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add new child
                    </button>
              </div>
            </div>    
          </div>
        </div>
        <!-- /.row (nested) -->
        <div class="row">
          <div class="col-lg-6">
            <button type="button" class="btn btn-default" ng-click="mlEntryCtl.backToMlDetails()">Back to muster list</button>
          </div>
          <div class="col-lg-6">  
            <button type="button" ng-disabled="mlEntryCtl.isSaveDisabled" class="btn btn-primary" ng-click="mlEntryCtl.save()" >Save entry</button>
          </div>
        </div>
      </form>  
        <!-- /.row (nested) -->
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>