<div class="row">
  <div class="col-lg-12">
    <h1>Muster Lists / Muster Listen</h1>
  </div>
</div>
<!-- Muster List Search Form -->
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <form class="form-inline" name="musterForm">
        <div class="form-group">
          <label for="unitId">Regiment: </label>
          <select class="form-control" id="unitId" name="unitId"
               data-ng-options="unit.id as unit.name | translate for unit in mlCtrl.regiments"
               ng-model="mlCtrl.searchParams.unitId">
               <option value="">ALL</option>
          </select>
        </div>
        <div class="form-group">
          <label for="year">Year: </label>
            <input type="text" class="form-control"
                   name="year"
                   id="year"
                   placeholder="yyyy"
                   ng-pattern="/^(\d)+$/"
                   ng-model="mlCtrl.searchParams.year"
                   ng-minlength="4"
                   ng-maxlength="4"
                   required
            />
        </div>
        <div class="form-group">
            <label for="month">Month: </label>
            <select class="form-control" id="month" name="month"
               data-ng-options="month.id as month.code | translate for month in mlCtrl.months"
               ng-model="mlCtrl.searchParams.month">
              <option value="">-</option>
            </select>
        </div>
        <button type="submit"
          class="btn btn-primary"
          ng-disabled="musterForm.$invalid"
          ng-click="mlCtrl.findMusterLists()"
          required>Search
        </button>
      </form>
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
          <span class="text-danger" ng-show="musterForm.year.$dirty  && musterForm.year.$invalid && musterForm.year.$error.required">Please enter the year!</span>
          <span class="text-danger" ng-show="musterForm.year.$dirty  && musterForm.year.$invalid && musterForm.year.$error.minlength || musterForm.year.$error.maxlength || musterForm.year.$error.pattern" >Entered year must be four numbers long!</span>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <p>{{mlCtrl.searchParams.unitId}} :: {{mlCtrl.searchParams.year}} :: {{mlCtrl.searchParams.month}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row vertical-align-box" ng-show="!mlCtrl.dataLoded">
  <div class="col-lg-6">
    <div class="bs-callout bs-callout-info">
      <h4>Muster lists overview</h4>
      <p>Sadržaj muster liste (opis kolona), glavne karakteristike kao izvora, info gdje se nalaze HDA, KA Beč.</p>
      <br/>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="bs-callout bs-callout-warning">
      <h4>The Source</h4>
      <p>Image of the muster list ....</p>
      <br/>
    </div>
  </div>
</div>

<div class="row" ng-show="mlCtrl.dataLoded">
  <div class="col-lg-12">
  <div loading-container="mlCtrl.tableParams.settings().$loading">
    <table ng-table="mlCtrl.tableParams" class="table table-condensed table-bordered table-striped table-muster-lists">
      <tr ng-repeat="musterList in $data">
        <td data-title="'#'">{{musterList.id}}</td>
        <td data-title="'Year/Month'">{{musterList.year}}/{{musterList.month}}</td>
        <td data-title="'Regiment'">{{musterList.parentUnitName | translate }}</td>
        <td data-title="'Unit'">{{musterList.unitName}}</td>
        <td data-title="'Unit type'">{{musterList.unitType}}</td>
        <td data-title="'Title'">{{musterList.title}}</td>
        <td data-title="'Signature'"><a ng-click="mlCtrl.showDetails(musterList.id)">{{musterList.referenceCode}}</a></td>
        <td data-title="'No. Entries'">{{musterList.entriesCount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
