
input[type="text"] {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

optgroup {
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.measureUnit {
	width: 80px;
}


/* table-muster-lists
--------------------------------------------------- */

.table-muster-lists th:nth-child(1) {
  width: 60px;
}

.table-muster-lists th:nth-child(8) {
  width: 40px;
}

/* table-service-recod
--------------------------------------------------- */

.table-service-record th:nth-child(2) {
  width: 400px;
}
