<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Edit personal data</h1>
  </div>
</div>

<div class="row vertical-align-box">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" role="form" name="userForm">

          <div class="form-group" ng-show="profileCtrl.showAlert">
        <uib-alert class="col-sm-offset-3 col-md-7" type="danger" close="profileCtrl.closeAlert()">{{profileCtrl.alertMessage}}</uib-alert>
      </div>

          <fieldset>

        <!-- First Name -->
        <div class="form-group" ng-class="{'has-error' : (userForm.firstName.$invalid && !userForm.firstName.$pristine) || profileCtrl.validationErrors.firstName}">
          <label class="col-lg-3 control-label" for="firstName">First name:</label>
          <div class="col-lg-6">
            <input type="text"
                   name="firstName"
                   id="firstName"
                   ng-model="profileCtrl.userData.firstName"
                   class="form-control"
                   required
            />

            <span class="text-danger" ng-show="userForm.firstName.$dirty  && userForm.firstName.$invalid && userForm.firstName.$error.required">Please enter your First name!</span>

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.firstName" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.firstName" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>

          </div>
        </div>

        <!-- Last Name -->
        <div class="form-group" ng-class="{'has-error' : (userForm.lastName.$invalid && !userForm.lastName.$pristine) || profileCtrl.validationErrors.lastName}">
          <label class="col-lg-3 control-label" for="lastName">Last name:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control"
                   name="lastName"
                   id="lastName"
                   ng-model="profileCtrl.userData.lastName"
                   required
            />

            <span class="text-danger" ng-show="userForm.lastName.$dirty  && userForm.lastName.$invalid && userForm.lastName.$error.required">Please enter your Last name!</span>

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.lastName" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.lastName" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>
          </div>
        </div>

        <hr/>

        <!-- first password -->
        <div class="form-group" ng-class="{'has-error' : (userForm.password.$invalid && !userForm.password.$pristine) || profileCtrl.validationErrors.password}">
          <label class="col-lg-3 control-label" for="password">Password:</label>
          <div class="col-lg-6">
            <input type="password" class="form-control"
                   name="password"
                   id="password"
                   placeholder="Enter new password"
                   ng-model="profileCtrl.userData.password"
            />

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.password" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.password" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>
          </div>
        </div>

        <!-- second password -->
        <div class="form-group" ng-class="{'has-error' : (userForm.password2.$invalid && !userForm.password2.$pristine) || profileCtrl.validationErrors.password2}">
          <label class="col-lg-3 control-label" for="password2">Password (again):</label>
          <div class="col-lg-6">
            <input type="password" class="form-control"
                   name="password2"
                   id="password2"
                   placeholder="Enter new password (again)"
                   ng-model="profileCtrl.userData.password2"
            />

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.password2" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.password2" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>
            <p class="help-block" ng-hide="userForm.password.$touched || userForm.password2.$touched">Fill in these two fields only if You want to change Your current password.</p>
          </div>
        </div>

        <hr/>

        <!-- Address -->
        <div class="form-group" ng-class="{'has-error' : (userForm.address.$invalid && !userForm.address.$pristine) || profileCtrl.validationErrors.address}">
          <label class="col-lg-3 control-label" for="address">Address:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control"
                   name="address"
                   id="address"
                   ng-model="profileCtrl.userData.address"
                   required
            />

            <span class="text-danger" ng-show="userForm.address.$dirty  && userForm.address.$invalid && userForm.address.$error.required">Please fill in an address!</span>

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.address" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.address" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>
          </div>
        </div>

        <!-- Postal Code -->
        <div class="form-group" ng-class="{'has-error' : (userForm.postalCode.$invalid && !userForm.postalCode.$pristine) || profileCtrl.validationErrors.postalCode}">
          <label class="col-lg-3 control-label" for="postalCode">Postal code:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control"
                   name="postalCode"
                   id="postalCode"
                   ng-model="profileCtrl.userData.postalCode"
                   ng-pattern="/^(\d)+$/"
                   required
            />

            <span class="text-danger" ng-show="userForm.postalCode.$dirty  && userForm.postalCode.$invalid && userForm.postalCode.$error.required">Please enter postal code!</span>

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.postalCode" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.postalCode" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>
          </div>
        </div>

        <!-- Place -->
        <div class="form-group" ng-class="{'has-error' : (userForm.place.$invalid && !userForm.place.$pristine) || profileCtrl.validationErrors.place}">
          <label class="col-lg-3 control-label" for="place">Place:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control"
                   name="place"
                   id="place"
                   ng-model="profileCtrl.userData.place"
                   required
            />

            <span class="text-danger" ng-show="userForm.place.$dirty  && userForm.place.$invalid && userForm.place.$error.required">Please fill in Place data!</span>
            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.place" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.place" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>

          </div>
        </div>

        <!-- Country -->
        <div class="form-group" ng-class="{'has-error' : (userForm.country.$invalid && !userForm.country.$pristine) || profileCtrl.validationErrors.country}">
          <label class="col-lg-3 control-label" for="countryCode">Country:</label>
          <div class="col-lg-6">
            <select name="countryCode" id="countryCode" class="col-lg-6" ng-model="profileCtrl.userData.countryCode">
              <option ng-repeat="country in profileCtrl.countries" value="{{country.code}}">{{country.name}}</option>
            </select>
          </div>

          <!-- server side validations -->
          <div ng-show="profileCtrl.validationErrors.country" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.country" >
            <p class="help-block" >{{validationErrorMessage}}</p>
          </div>
        </div>

        <hr/>

        <!-- Email -->
        <div class="form-group" ng-class="{'has-error' : (userForm.email.$invalid && !userForm.email.$pristine) || profileCtrl.validationErrors.email}">
          <label class="col-lg-3 control-label" for="email">Email address:</label>
          <div class="col-lg-6">
            <input type="email" class="form-control"
                   name="email"
                   id="email"
                   ng-model="profileCtrl.userData.email"
                   required
            />
            <span class="text-danger" ng-show="userForm.email.$dirty  && userForm.email.$invalid && userForm.email.$error.required">Please enter your email address!</span>

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.email" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.email" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>

          </div>
        </div>

        <!-- Mobile -->
        <div class="form-group" ng-class="{'has-error' : (userForm.mobile.$invalid && !userForm.mobile.$pristine) || profileCtrl.validationErrors.mobile}">
          <label class="col-lg-3 control-label" for="mobile">Mobile:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control"
                   name="mobile"
                   id="mobile"
                   ng-model="profileCtrl.userData.mobile"
                   required
            />

            <span class="text-danger" ng-show="userForm.mobile.$dirty  && userForm.mobile.$invalid && userForm.mobile.$error.required">Please enter mobile!</span>

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.mobile" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.mobile" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>

          </div>
        </div>

        <!-- Telephone -->
        <div class = "form-group" ng-class="{'has-error' : (userForm.phone.$invalid && !userForm.phone.$pristine) || profileCtrl.validationErrors.phone}">
          <label class="col-lg-3 control-label" for="phone">Telephone:</label>
          <div class="col-lg-6">
            <input type="text" class="form-control"
                   name="phone"
                   id="phone"
                   ng-model="profileCtrl.userData.phone"
                   required
            />

            <span class="text-danger" ng-show="userForm.phone.$dirty  && userForm.phone.$invalid && userForm.phone.$error.required">Please enter mobile!</span>

            <!-- server side validations -->
            <div ng-show="profileCtrl.validationErrors.phone" data-ng-repeat="validationErrorMessage in profileCtrl.validationErrors.phone" >
              <p class="help-block" >{{validationErrorMessage}}</p>
            </div>

          </div>
        </div>

      </fieldset>

          <!-- Form Buttons -->
          <div class="col-lg-3 col-lg-offset-3">
        <button type="button"
                ui-sref="app.profile-view"
                class="btn btn-primary" >
          <span class="glyphicon glyphicon-remove"></span> Cancel
        </button>
      </div>
          <div class="col-lg-6">
            <button type="button"
                ng-disabled="userForm.$invalid"
                ng-click="profileCtrl.updateProfile()"
                class="btn btn-primary"
          >
          <span class="glyphicon glyphicon-pencil"></span> Save
        </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
