<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">User Profile: {{app.userDisplayName}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <h4>System data</h4>
    Username: <strong>{{app.user.username}}</strong>
    <br>email: <strong>{{app.user.email}}</strong>
    <h4>Address</h4>
    <address>
      {{app.user.address}}
      <br>{{app.user.postalCode}} {{app.user.place}}
      <br>{{app.user.countryCode}}
      <br>
    </address>
    <h4>Contact information</h4>
    <address>
      <strong>Telephone</strong>
      <br>{{app.user.phone}}
      <br>
      <strong>Mobile</strong>
      <br>{{app.user.mobile}}
    </address>
  </div>
  <div class="col-lg-7">
    <h4>Granted Authorities</h4>
    <ul>
      <li ng-repeat="role in app.user.roles">{{role.id}} - {{role.name}}</li>
    </ul>
  </div>
</div>
<div class="row">
    <div class="col-lg-4">
      <button type="button" class="btn btn-primary" ui-sref="app.profile-edit" >
        <span class="glyphicon glyphicon-pencil"></span> Edit Personal data
      </button>
    </div>
  </div>
</div>

