<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <i class="fa fa-flag fa-3x pull-left"></i> <a class="navbar-brand" [routerLink]="['/']">Military Life and Warrior Images in Croatian Borderlands</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle" href id="dropdown-language" dropdownToggle (click)="false">
          Select language ({{ currentLang | translate }})
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" *dropdownMenu aria-labelledby="dropdown-language">
            <li><a (click)="changeLang('hr')" href="javascript:void(0);"> {{ 'LANGUAGE.HR' | translate }}</a></li>
            <li><a (click)="changeLang('en')" href="javascript:void(0);"> {{ 'LANGUAGE.EN' | translate }}</a></li>
        </ul>
      </li>
      <li class="dropdown" dropdown *ngIf="token">
        <a class="dropdown-toggle" href id="dropdown-user" dropdownToggle (click)="false">
          <gravatar email="{{token?.email}}" size="30"></gravatar>
          {{ token?.fnm }}&nbsp;{{ token?.lnm }}
          <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user" *dropdownMenu aria-labelledby="dropdown-user">
          <li><a [routerLink]="['users/profile']"><i class="fa fa-user fa-fw"></i> User Profile</a>
          </li>
          <li><a [routerLink]="['users/settings']"><i class="fa fa-gear fa-fw"></i> Settings</a>
          </li>
          <li class="divider"></li>
          <li>
          <a *ngFor="let auth of token?.authorities" class="dropdown-item">
            <i class="fa fa-key" aria-hidden="true"></i>
            {{ auth }}
          </a>
          </li>
          <li class="divider"></li>
          <li><a (click)="logout()" href="javascript:void(0);"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
        </ul>
        <!-- /.dropdown-user -->
      </li>
      <!-- /.dropdown -->
      <li *ngIf="!token">
        <a [routerLink]="['../login']">Sign in</a>
      </li>
      <li *ngIf="!token">
        <a [routerLink]="['registration']">Registration</a>
      </li>
    </ul>
    <!-- /.navbar-top-links -->

    <app-sidebar></app-sidebar>
  </nav>

  <div id="page-wrapper" class="footer-placeholder">
    <router-outlet></router-outlet>
    <!--div id="buildInfo">
      Current build: v{{buildVersion}} @{{buildTime}}
    </div-->
  </div>
  <app-footer></app-footer>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->
