.navbar-brand {
  color: #eead51;
  font-size: 16pt
}

.navbar{
  min-height: 61px;
}
@media (min-width: 768px) {
  #buildInfo {
    position: absolute;
    left: 15px;
    bottom: 50px;
    max-width: 220px;
  }
}


.footer-placeholder{
}


