<br/>
<div class="container-fluid">
  <div *ngIf="mlId" class="row" >
    <div class="col-lg-10">
      <!-- put some info concerning the origin here / may breadcrumbs? -->
    </div>
    <div class="col-lg-2">
      <p>
        <button type="button" class="btn btn-default" (click)="backToMlEntryForm()">
          <i class="fa fa-external-link" aria-hidden="true"></i>
          Back to muster list entry
        </button>
      </p>
    </div>
  </div>
  <div *ngIf="tpid" class="row">
    <div class="col-lg-10">

    </div>
    <div class="col-lg-2">
      <p>
        <button type="button" class="btn btn-danger" (click)="cancelMerge()">
          <i class="fa fa-times" aria-hidden="true" ></i> Cancel merge
        </button>
      </p>
    </div>
  </div>
  <!-- Person Search Form -->
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
        <form class="form-inline" role="form" (ngSubmit)="search()" novalidate [formGroup]="searchForm">
          <div class="form-group">
            <label for="firstName">First name: </label>
            <input type="text" class="form-control" formControlName="firstName"
              id="firstName"
              name="firstName"
              placeholder="First name"
              value="{{searchForm.value.firstName}}"
            />
          </div>

          <div class="form-group">
            <label for="lastName">Last name: </label>
            <input type="text" class="form-control" formControlName="lastName"
              name="lastName"
              id="lastName"
              placeholder="Last name"
              value="{{searchForm.value.lastName}}"
            />
          </div>

          <button class="btn btn-primary" type="submit" role="button" [disabled]="!searchFormEnabled">
              <i class="fa fa-search" aria-hidden="true"></i> Search
          </button>
        </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <alert *ngIf="globalAlertMessage" [type]="'danger'" dismissible="true" (onClose)="resetAlert()">
        {{globalAlertMessage}}
      </alert>
      <table class="table table-responsive table-striped table-bordered" id="personList">
        <thead class="thead-inverse">
          <tr>
            <th (click)="sortBy('id')">
              <a href="javascript:void(0);">
              <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'id', 'fa-chevron-down': sortAttribute == '-id'}" aria-hidden="true"></i>
              Id
              </a>
            </th>
            <th (click)="sortBy('firstName')">
              <a href="javascript:void(0);">
              <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'firstName', 'fa-chevron-down': sortAttribute == '-firstName'}" aria-hidden="true"></i>
              First name
              </a>
            </th>
            <th (click)="sortBy('lastName')">
              <a href="javascript:void(0);">
              <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'lastName', 'fa-chevron-down': sortAttribute == '-lastName'}" aria-hidden="true"></i>
              Last name
              </a>
            </th>
            <th (click)="sortBy('placeOfBirth')">
              <a href="javascript:void(0);">
              <i class="fa" [ngClass]="{'fa-chevron-up': sortAttribute == 'placeOfBirth', 'fa-chevron-down': sortAttribute == '-placeOfBirth'}" aria-hidden="true"></i>
              Place of birth
              </a>
            </th>
            <th>Sources first names</th>
            <th>Sources last names</th>
            <th>First mention</th>
            <th>Last mention</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="pagedResult">
              <tr *ngFor="let person of pagedResult.content | paginate: {id: 'custom', itemsPerPage: pagedResult.size, currentPage: pageNumber, totalItems: pagedResult.totalElements}"
                [class.info]="person.id == tpid">
                  <td>{{person.id}}</td>
                  <td>{{person.firstName}}</td>
                  <td>{{person.lastName}}</td>
                  <td>{{person.placeOfBirth}}</td>
                  <td>{{person.sourcesFirstNames}}</td>
                  <td>{{person.sourcesLastNames}}</td>
                  <td>
                    <a *ngIf="person.firstMusterList" [routerLink]="['../../military-frontier/musterlists', person.firstMusterList.id]">
                    {{person.firstMusterList ? person.firstMusterList.mlYear + '/' + person.firstMusterList.mlMonth : ''}}
                    </a>
                  </td>
                  <td>
                    <a *ngIf="person.lastMusterList" [routerLink]="['../../military-frontier/musterlists', person.lastMusterList.id]">
                    {{person.lastMusterList ? person.lastMusterList.mlYear + '/' + person.lastMusterList.mlMonth : ''}}
                    </a>
                  </td>
                  <td>
                    <div class="btn-group">
                    <button *ngIf="mlId" type="button" class="btn btn-success" (click)="selectPerson(person)"
                      uib-tooltip-html="'Select this person and return'"
                      uib-tooltip-trigger="mouseenter"
                      tooltip-animation="false"
                      aria-label="Select this person and return">
                      <span class="fa fa-check" aria-hidden="true"></span>

                    </button>

                    <button *ngIf="tpid && tpid != person.id" type="button" class="btn btn-success" (click)="mergePerson(person.id)"
                      uib-tooltip-html="'Select this person and continue'"
                      uib-tooltip-trigger="mouseenter"
                      tooltip-animatio="false"
                      aria-label="Select this person and continue">
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </button>

                    <button type="button" class="btn btn-info" (click)="showDetails(person.id)"
                      uib-tooltip-html="'View person details'"
                      uib-tooltip-trigger="mouseenter"
                      tooltip-animation="false"
                      aria-label="Person details">
                      <span class="fa fa-id-card-o" aria-hidden="true"></span>
                    </button>
                    </div>
                  </td>
                </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Table pagination -->
  <div class="row form-inline">
    <app-pagination-control *ngIf="pagedResult"
      (submitChangeSize)="changeSize($event)"
      (submitPageChange)="search($event)"
      [firstRecord]="firstRecord()"
      [lastRecord]="lastRecord()"
      [numOfRecords]="pagedResult?.totalElements"
      [pageNumber]="pageNumber">
    </app-pagination-control>
</div>
<!-- /.container-fluid -->
</div>
