<div *ngIf="person" class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="">Person: [ Id : {{person.id}} ] {{person.firstName}} {{person.lastName}}
        <div class="btn-group pull-right">
          <button *ngIf="mlId" type="button" class="btn btn-default" (click)="backToMlEntryForm()">
            <i class="fa fa-external-link" aria-hidden="true"></i>
            Back to muster list entry
          </button>
          <button *ngIf="mlId" type="button" class="btn btn-success" (click)="selectPerson(person)">
            <i class="fa fa-external-link" aria-hidden="true"></i>
            Link this person
          </button>
          <button *ngIf="!mlId && tpid && tpid != person.id" type="button" class="btn btn-danger"
                  (click)="cancelMerge()">
            <i class="fa fa-times" aria-hidden="true"></i> Cancel merge
          </button>
          <button *ngIf="!mlId && !tpid" type="button" class=" btn btn-default" (click)="mergePerson()">
            <i class="fa fa-link" aria-hidden="true"></i> Merge this person
          </button>
          <button *ngIf="!mlId && tpid && tpid != person.id" type="button" class="btn btn-success"
                  (click)="mergePerson()">
            <i class="fa fa-external-link" aria-hidden="true"></i> Merge this person
          </button>
        </div>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <p>Place of birth: <strong>{{person.placeOfBirth}}</strong></p>
      <p>Sources last names: <strong>{{person.sourcesLastNames}}</strong></p>
      <p>Sources first names: <strong>{{person.sourcesFirstNames}}</strong></p>
      Note:
      <div class="well">{{person.note}}</div>

    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <button type="button" class="btn btn-default" (click)="backToPersonSearch()">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        Back to persons search
      </button>
    </div>
    <div class="col-lg-10">
      <button type="button" class="btn btn-primary pull-right" (click)="showPersonEditModal()">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        Edit Person Details
      </button>
    </div>
  </div>
  <!-- Muster List Entries Table -->
  <div class="row">
    <div class="col-lg-12">
      <br/>
      <table class="table table-condensed table-bordered table-striped table-muster-list-entries">
        <thead class="thead-inverse">
        <tr>
          <th>Muster list [yyyy/m]</th>
          <th>#</th>
          <th>Person</th>
          <th>Rank</th>
          <th>Age</th>
          <th>Places</th>
          <th>Religion</th>
          <th>Profession</th>
          <th>Married</th>
          <th>Service record</th>
          <th *ngIf="!tpid"></th>
        </tr>
        </thead>
        <tbody *ngIf="pagedResult">
        <tr
          *ngFor="let mle of pagedResult.content | paginate: {id: 'custom', itemsPerPage: pagedResult.size, currentPage: pageNumber, totalItems: pagedResult.totalElements}">
          <td>{{mle.year}}/{{mle.month}}</td>
          <td>{{mle.listNumber}}</td>
          <td data-title="'Person'">{{mle.firstName}} {{mle.lastName}} von {{mle.person.placeOfBirth}}</td>
          <td data-title="'Rank'">{{mle.rank.code}}</td>
          <td data-title="'Age'">{{mle.age}}</td>
          <td data-title="'Places'">{{mle.location}} / {{mle.houseNumber}}</td>
          <td data-title="'Religion'">{{mle.religion?.code}}</td>
          <td data-title="'Profession'">{{mle.profession?.code}}</td>
          <td data-title="'Married'">{{mle.maritalStatus}}</td>
          <td data-title="'Service record'">
            <div *ngFor="let serviceRecord of mle.serviceRecords">
              <div class="col-lg-8">{{serviceRecord?.description}}</div>
              <div class="col-lg-1">{{serviceRecord?.durationYears}}</div>
              <div class="col-lg-1">{{serviceRecord?.durationMonths}}</div>
              <div class="col-lg-1">{{serviceRecord?.durationDays}}</div>
            </div>
          </td>
          <td *ngIf="!tpid"><button type="button" class="btn btn-sm btn-primary" (click)="copyMle(mle)"><i class="fa fa-files-o"></i></button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Table pagination -->
  <div class="row form-inline">
    <app-pagination-control *ngIf="pagedResult"
                            (submitChangeSize)="changeSize($event)"
                            (submitPageChange)="search($event)"
                            [firstRecord]="firstRecord()"
                            [lastRecord]="lastRecord()"
                            [numOfRecords]="pagedResult?.totalElements"
                            [pageNumber]="pageNumber">
    </app-pagination-control>

    <div class="col-md-2 clearfix">
      <div class="align-with-pagination">
        <button *ngIf="pagedResult" type="button" class="btn btn-primary"
                (click)="downloadAsCsv()">
          <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Download as CSV
        </button>
      </div>
    </div>
  </div>
</div>

<person-form (personEntered)="processPersonSave($event)"></person-form>
