<!-- Person Form Modal -->
<div class="modal fade" bsModal #personFormModal="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="personFormModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="personFormModalTitle">Please enter Person data</h4>
      </div>
      <div *ngIf="personForm" class="modal-body" >
        <div class="row" *ngIf="errorAlertMessage">
          <alert type="danger" dismissible="true"><strong>Error!</strong> {{errorAlertMessage | translate}}</alert>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <form role="form" [formGroup]="personForm">
          <fieldset>
            <div class="form-group" [ngClass]="{'has-error':!personForm.controls['firstName'].valid && personForm.controls['firstName'].touched}">
              <label>First name (*):</label>
              <input class="form-control" id="firstName" placeholder="Normalized first name ..." type="text" formControlName="firstName" value="{{personForm.value.firstName}}">
              <div *ngIf="personForm.controls['firstName'].hasError('required') && personForm.controls['firstName'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="personForm.controls['firstName'].hasError('maxLength') && personForm.controls['firstName'].touched" class="alert alert-danger">{{ 'error.field.maxLength40' | translate }}</div>
            
              <field-validation-error *ngIf="serverErrors && serverErrors.get('firstName')" [fieldErrors]="serverErrors.get('firstName')" ></field-validation-error>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!personForm.controls['lastName'].valid && personForm.controls['lastName'].touched}">
              <label>Last name (*):</label>
              <input class="form-control" id="lastName" placeholder="Normalized last name ..." type="text" formControlName="lastName" value="{{personForm.value.lastName}}">
              <div *ngIf="personForm.controls['lastName'].hasError('required') && personForm.controls['lastName'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="personForm.controls['lastName'].hasError('maxLength') && personForm.controls['lastName'].touched" class="alert alert-danger">{{ 'error.field.maxLength40' | translate }}</div>

              <field-validation-error *ngIf="serverErrors && serverErrors.get('lastName')" [fieldErrors]="serverErrors.get('lastName')" ></field-validation-error>
            </div>
            
            <div class="form-group" [ngClass]="{'has-error':!personForm.controls['placeOfBirth'].valid && personForm.controls['placeOfBirth'].touched}">
              <label>Place of Birth name (*):</label>
              <input class="form-control" id="placeOfBirth" placeholder="Birthplace, ..." type="text" formControlName="placeOfBirth" value="{{personForm.value.placeOfBirth}}">
              <div *ngIf="personForm.controls['placeOfBirth'].hasError('required') && personForm.controls['placeOfBirth'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="personForm.controls['placeOfBirth'].hasError('maxLength') && personForm.controls['placeOfBirth'].touched" class="alert alert-danger">{{ 'error.field.maxLength40' | translate }}</div>

              <field-validation-error *ngIf="serverErrors && serverErrors.get('placeOfBirth')" [fieldErrors]="serverErrors.get('placeOfBirth')" ></field-validation-error>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!personForm.controls['sourcesFirstNames'].valid && personForm.controls['sourcesFirstNames'].touched}">
              <label>Sources first names:</label>
              <input class="form-control" id="sourcesFirstNames" placeholder="Sources first names ..." type="text" formControlName="sourcesFirstNames" value="{{personForm.value.sourcesFirstNames}}">
              <div *ngIf="personForm.controls['sourcesFirstNames'].hasError('required') && personForm.controls['sourcesFirstNames'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="personForm.controls['sourcesFirstNames'].hasError('maxLength') && personForm.controls['sourcesFirstNames'].touched" class="alert alert-danger">{{ 'error.field.maxLength40' | translate }}</div>

              <field-validation-error *ngIf="serverErrors && serverErrors.get('sourcesFirstNames')" [fieldErrors]="serverErrors.get('sourcesFirstNames')" ></field-validation-error>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!personForm.controls['sourcesLastNames'].valid && personForm.controls['sourcesLastNames'].touched}">
              <label>Sources last names:</label>
              <input class="form-control" id="sourcesLastNames" placeholder="Sources last names ..." type="text" formControlName="sourcesLastNames" value="{{personForm.value.sourcesLastNames}}">
              <div *ngIf="personForm.controls['sourcesLastNames'].hasError('required') && personForm.controls['sourcesLastNames'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="personForm.controls['sourcesLastNames'].hasError('maxLength') && personForm.controls['sourcesLastNames'].touched" class="alert alert-danger">{{ 'error.field.maxLength40' | translate }}</div>

              <field-validation-error *ngIf="serverErrors && serverErrors.get('sourcesLastNames')" [fieldErrors]="serverErrors.get('sourcesLastNames')" ></field-validation-error>
            </div>

            <div class="form-group" [ngClass]="{'has-error':!personForm.controls['note'].valid && personForm.controls['note'].touched}">
              <label>Notes:</label>
              <textarea class="form-control" id="note" placeholder="Source notes ..." formControlName="note">{{personForm.value.note}}</textarea>
              <div *ngIf="personForm.controls['note'].hasError('required') && personForm.controls['note'].touched" class="alert alert-danger">{{ 'error.field.requiered' | translate }}</div>
              <div *ngIf="personForm.controls['note'].hasError('maxLength') && personForm.controls['note'].touched" class="alert alert-danger">{{ 'error.field.maxLength40' | translate }}</div>

              <field-validation-error *ngIf="serverErrors && serverErrors.get('note')" [fieldErrors]="serverErrors.get('note')" ></field-validation-error>
            </div>

          </fieldset>  
        </form>  
          </div>  
        </div>
      </div>
      <div *ngIf="personForm" class="modal-footer">
        <button type="button" [disabled]="!personForm.valid" class="btn btn-primary" (click)="submit()" >Save</button>
        <button type="button" class="btn btn-default" (click)="hide()">Close</button>
      </div>
    </div>
  </div>
</div>