<div id="wrapper">
  <!-- Navigation -->
  <header></header>
  <!-- /.navbar-top-links -->

  <!-- /.navbar-static-side -->

  <div id="page-wrapper" style="min-height: 561px;">
    <div ui-view></div>
    </div>
  <!-- /#page-wrapper -->
</div>

<!-- footer -->
<footer class="panel-footer footer">
  <div class="container">
    <h6 class="text-right">backend v. {{app.backendVersion}}</a></h6>
    <h6 class="text-right">frontend v. {{app.version}}</a></h6>
  </div>
</footer>
